<h2 class="blueHeaders">Program Planning Considerations</h2>
<h5>Programs can range from social to educational, for a cause or simply for fun. When planning a program, there are many factors to consider.</h5>
<h5><li><b>Who is involved with the Program?- </b> Who will be involved with planning and implementing the program (your entire club, RA’s, e-board, office or department, etc)? Are committees appropriate and who will be on them? Who needs to approve the program?</li></h5>
<h5><li><b>What -- Description of the Program- </b>What will the program accomplish? Is it necessary? What is your target population (immediate community, local community, city, etc)? How many people do you estimate attending?</li></h5>
<h5><li><b>What are the costs involved with the Program?- </b>Consider food, supplies, advertising, tickets, prizes, transportation off campus, etc. Should the program be co-sponsored with another group?</li></h5>
<h5><li><b>When will the Program happen?- </b>Does the date conflict with major exams, holidays or other important events around campus?</li></h5>
<h5><li><b>Where will the Program be held?- </b>Locations include spaces in and around the Student Center and the Green Center, the Green Space, academic buildings, and other spaces on- campus, in addition to off campus sites.</li></h5>
<h5><li><b>How will people know about the Program?- </b>What needs to be done to advertise the program- posters, e-mail, and personal contact? When does the advertising need to go out? Who will be in charge of coordinating ads?</li></h5>
<h5><li><b>Why?- </b>Why are we doing this? How does this program support the vision and scope of our group?</li></h5>
<h5><li><b>Have you considered the following?- </b>Gender-neutral language; religious background, rituals, and traditions; diverse racial and/or ethnic populations; needs of students with disabilities; economic limitations?</li></h5>
<h2 class="blueHeaders">Event Planning Checklist</h2>
<h5>After deciding as an organization which event you will sponsor, follow these steps to ensure success:</h5>
<h5>*For all off-campus trips, please refer to the Trip Planning Packet</h5>
<h3 class="blueHeaders">Two-Three Months in Advance</h3>
<h5><li>Reserve the location</li></h5>
<h5><li>Establish a budget for the event</li></h5>
<h5><li>Identify any possible co-sponsorships</li></h5>
<h5><li>Decide upon the need for tickets</li></h5>
<h5><li>Contact agent/performers to get necessary information</li></h5>
<h5><li>Forward contracts to the Office of Student Involvement (*Remember neither you, nor your advisor, can sign any contracts on behalf of the University)</li></h5>
<h5><li>Reserve any hotel accommodations needed for performer</li></h5>
<h5><li>Plan for performers meals if required</li></h5>
<h5><li>Order supplies: decorations, tickets, awards, t-shirts, etc.</li></h5>
<h3 class="blueHeaders">One Month in Advance</h3>
<h5><li>Start promotions for the event</li></h5>
<h5><li>Confirm housing and meals</li></h5>
<h5><li>Review the technical rider, if applicable</li></h5>
<h5><li>Order food for event</li></h5>
<h5><li>If needed, submit SNHUtickets request</li></h5>
<h3 class="blueHeaders">Three Weeks in Advance</h3>
<h5><li>Distribute promotional material and start ticketing sales</li></h5>
<h3 class="blueHeaders">Two Weeks-One Week Before</h3>
<h5><li>More Promotion</li></h5>
<h5><li>Finalize all details with agent/performer</li></h5>
<h3 class="blueHeaders">Day of Event</h3>
<h5><li>Arrive early to assist with set-up</li></h5>
<h5><li>Pay performer at end of performance</li></h5>
<h5><li>Clean-up following the performance</li></h5>
<h5><li>Inventory all equipment</li></h5>
<h3 class="blueHeaders">Post Event</h3>
<h5><li>Remove all advertising</li></h5>
<h5><li>Fill out all budget disbursements</li></h5>
<h5><li>Take notes for future events</li></h5>
<h5><li>Send thank-you cards as needed.</li></h5>
<h5 class="blueHeaders">If at any point during the event planning process you have any questions, please do not hesitate to reach out to your advisor or the Office of Student Involvement. We are all here to support you!</h5>
