@import "src/styles";

.imagesContainer {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden !important;
  position: relative;
}

.container {
  max-width: 1220px !important;
}

::ng-deep .p-carousel.landingPageCaro {
  z-index: -1;
  position: absolute;
}

img.carouselImages {
  height: 100vh;
  width: 100%;
}

img.carouselImagesSmall {
  height: 30vh;
  width: 100%;
}

.carouselImageMask {
  z-index: 2;

  height: 100vh;
  background-color: rgba(0, 0, 0, 0.73);
}

.carouselImageMask h1 {
  color: #FDB913;
  text-align: center;
  font-size: 75px;
  padding-top: 10%;

  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.carouselImageMask h3 {
  color: #FDB913;
  text-align: center;
  font-size: 25px;
  padding-top: 4%;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.involveUDescription {
  width: 75%;
  display: block;
  margin: auto;
}

.involveUNext {
  width: 40%;
  display: block;
  margin: 2% auto auto;
}

.thisWeekButton .blueButton {
  display: block;
  margin: 5% auto auto;
  width: 150px;
  height: 50px;
}

.desktopTabletMargin {
  margin-top: 1%;
}

.mobileMargin {
  margin-top: 7%;
}

.noContent {
  margin: auto;
  text-align: center;
}

.blueBackground {
  background-color: $HeritageBlue;
  padding: 20px;
}

.yellow-text {
  color: $GoldenYellow;
}

.welcomeMessage, .descriptionMessage {
  margin-bottom: 20px;
}

