<div class="container">
  <div class="images">
      <p-carousel [value]="imageArray" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="5000" [showNavigators]="false" [showIndicators]="false">
      <ng-template let-image pTemplate="item">
        <img src="assets/landingPageImages/{{image}}">
      </ng-template>
    </p-carousel>
  </div>

  <div class="imageMask">
    <ng-template [ngIf]="this.cookie.get('studentFName') != ''">
      <h1>Welcome to involveU, {{this.currentUser.firstName}}!</h1>
    </ng-template>
    <ng-template [ngIf]="this.cookie.get('studentFName') === ''">
      <h1>Welcome to involveU!</h1>
    </ng-template>
    <div class="involveUDescription">
      <h3>involveU is a one-stop-shop for all campus activities. Students can join clubs they are interested in, or manage their existing clubs all from one spot!</h3>
    </div>
    <div class="involveUNext">
      <h3>See What is going on this week at Southern New Hampshire University</h3>
    </div>
    <div class="thisWeekButton">
      <button class="blueButton" routerLink="/schedule">View Events</button>
    </div>
  </div>

  <div class="todaysEventsHeader">
    <h1>What’s Going On Today at Southern New Hampshire University</h1>
  </div>

  <ng-template [ngIf]="todaysEvents.length === 0">
    <div class="noEventsContent">
      <h2>There are no events occurring today!</h2>
    </div>
  </ng-template>

  <div class="todaysEventsContainer">
    <ng-template [ngIf]="todaysEvents.length !== 0">
      <p-carousel styleClass="eventsCaro" [value]="todaysEvents" [numVisible]="3" [numScroll]="3" [circular]="true" [autoplayInterval]="10000">
        <ng-template let-event pTemplate="item">
          <div class="clubCard">
            <div class="clubContent">
              <div>
                <h3 class="p-mb-1">{{event.eventName}}</h3>
                <hr>
                <div class="parent">
                  <div class="div1">
                    <h3 class="eventDataTitle">Date</h3>
                    <h5 class="eventData">{{event.eventDate | date:'MMMM dd, YYYY'}}</h5>
                  </div>
                  <div class="div2">
                    <h3 class="eventDataTitle">Time</h3>
                    <h5 class="eventData">{{event.startTime | timeFormat}} - {{event.endTime | timeFormat}}</h5>
                  </div>
                  <div class="div3">
                    <h3 class="eventDataTitle">Location</h3>
                    <h5 class="eventData">{{event.eventLocation}}</h5>
                  </div>
                  <div class="div4">
                    <h3 class="eventDataTitle">Hosted By</h3>
                    <h5 class="eventData">{{event.clubName}}</h5>
                  </div>
                  <div class="div5">
                    <button class="blueButton" (click)="openViewMoreInfoDialog(event)">View More Information</button>
                    <ng-container *ngIf="userID !== 0">
                      <button class="blueButton" (click)="eventRSVP(event.eventID)">RSVP</button>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </ng-template>
  </div>

  <p-dialog  [(visible)]="viewMoreInfoDialog" [modal]="true" [style]="{width: '35vw'}" [dismissableMask]="true" [baseZIndex]="10000" (onHide)="closeViewMoreInfoDialog()">
    <a class="ui-dialog-titlebar-icon ui-dialog-titlebar-close ui-corner-all closeButtonDialog" role="button" (click)="closeViewMoreInfoDialog()">
      <span class="fa fa-fw fa-close fa-lg"></span>
    </a>
    <h1 class="text-center">Event Information</h1>
    <hr class="dialogLines">
    <div *ngFor="let event of this.certainEvent" >
      <div class="eventInfoContainer">
        <div class="eventName">
          <h3 class="eventDataTitle">Event Name: </h3>
          <h5 class="eventData">{{event.eventName}}</h5>
        </div>
        <div class="eventDate">
          <h3 class="eventDataTitle">Event Date: </h3>
          <h5 class="eventData">{{event.eventDate | date:'MMMM dd, YYYY'}}</h5>
        </div>
        <div class="eventTime">
          <h3 class="eventDataTitle">Time: </h3>
          <h5 class="eventData">{{event.startTime | timeFormat}} - {{event.endTime | timeFormat}}</h5>
        </div>
        <div class="eventLocation">
          <h3 class="eventDataTitle">Event Location: </h3>
          <h5 class="eventData">{{event.eventLocation}}</h5>
        </div>
        <div class="eventDesc">
          <h3 class="eventDataTitle">Event Description: </h3>
          <h5 class="eventData">{{event.eventDesc}}</h5>
        </div>
        <div class="eventHost">
          <h3 class="eventDataTitle">Hosted By:</h3>
          <h5 class="eventData">{{event.clubName}}</h5>
        </div>
        <div class="eventTransportation">
          <h3 class="eventDataTitle">Transportation</h3>
          <ng-container *ngIf="event.isTransportation; else noTransportation">
            <h5 class="eventData">Transportation Provided</h5>
          </ng-container>
          <ng-template #noTransportation>
            <h5 class="eventData">Transportation NOT provided</h5>
          </ng-template>
        </div>
        <div class="eventTicketLink">
          <h3 class="eventDataTitle">Ticket Link:</h3>
          <h5 class="eventData">{{event.ticketLink}}</h5>
        </div>
      </div>
    </div>
  </p-dialog>
  <div class="clubAnnouncementsRight" [ngClass]="{'mobileTabletClubAnnouncementWidth clubAnnouncementsRightGridMobileTablet' : responsiveService.deviceMobile() || responsiveService.deviceTablet(), 'clubAnnouncementsRightGridWeb' : responsiveService.deviceDesktop()}">
    <div class="announcementBorders">
      <h2 class="blueHeaders text-center">OSI Announcements</h2>
      <hr class="announcementLine">
      <div class="announcementContent" *ngFor="let announcement of osiAnnouncements; index as index; last as last">
        <em class="announcementDate" *ngIf="index < 5">Posted on {{announcement.postedOn | date:'MMMM dd, YYYY'}}</em>
        <h4 class="blueHeaders convertToOswald announcementTitle" *ngIf="index < 5">{{announcement.announcementTitle}}</h4>
        <p [ngClass]="{ 'line-clamp': !showMore }" *ngIf="index < 5">{{announcement.contentOfAnnouncement}}</p>
        <hr class="announcementLine" *ngIf="index < 5">
      </div>
      <button class="blueButton">Show More</button>
    </div>
  </div>
</div>
