<div *ngIf="successMessage === true" class="alert alert-success alert-dismissible fade show eventAlerts" role="alert">
  <p>{{this.message}}</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div *ngIf="failMessage === true" class="alert alert-danger alert-dismissible fade show eventAlerts" role="alert">
  <p>{{this.message}}</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="imagesContainer">
  <div class="images">
      <p-carousel styleClass="landingPageCaro" [value]="imageArray" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="5000" [showNavigators]="false" [showIndicators]="false">
      <ng-template let-image pTemplate="item">
        <img class="carouselImages" src="assets/landingPageImages/{{image}}">
      </ng-template>
    </p-carousel>
  </div>


  <div class="carouselImageMask">
    <ng-template [ngIf]="this.cookie.get('studentFName') != ''">
      <h1>Welcome to involveU, {{this.currentUser.firstName}}!</h1>
    </ng-template>
    <ng-template [ngIf]="this.cookie.get('studentFName') === ''">
      <h1>Welcome to involveU!</h1>
    </ng-template>
    <div class="involveUDescription">
      <h3>involveU is a one-stop-shop for all campus activities. Students can join clubs they are interested in, or manage their existing clubs all from one spot!</h3>
    </div>
    <div class="involveUNext">
      <h3>See What is going on this week at Southern New Hampshire University</h3>
    </div>
    <div class="thisWeekButton">
      <button class="blueButton" routerLink="/schedule">View Events</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="headerMargin">
    <h1 class="blueHeaders text-center">What’s Going On Today at Southern New Hampshire University</h1>
  </div>

  <ng-template [ngIf]="todaysEvents.length === 0">
    <div class="noEventsContent">
      <h2>There are no events occurring today!</h2>
    </div>
  </ng-template>


  <ng-template [ngIf]="todaysEvents.length !== 0">
    <p-table [value]="todaysEvents" [paginator]="true" [rows]="numberOfRows"  [loading]="isLoading">
      <ng-template pTemplate="body" let-event>
        <div class="eventCard text-center" (click)="showViewMoreInfoDialog(event)" [ngClass]="{'eventCardSizeWeb' : responsiveService.deviceDesktop(), 'eventCardSizeTabletMobile' : responsiveService.deviceMobile() || responsiveService.deviceTablet()}">
          <div class="eventCardPicture">
            <div class="imageCenter">
              <img class="eventImage" src="assets/snhuLogoStock.png"> <!--CHANGE TO CLUB LOGO-->
            </div>
            <div class="imageMaskEvent"></div>
            <h3 class="blueHeaders text-center">{{event.eventName}}</h3>
            <h5 class="eventClubName">{{event.clubName}}</h5>
            <p>Date: {{event.eventDate | date:'MMMM dd, YYYY'}}</p>
            <p>Time: {{event.startTime | timeFormat}} - {{event.endTime | timeFormat}}</p>
            <p>Location: {{event.eventLocation}} -> {{event.spaceName}}</p>
            <ng-container *ngIf="isLoggedIn">
              <ng-container *ngIf="isUserRSVPd(event.eventID) === true; else ShowRSVP">
                <button class="blueButton" (click)=" $event.preventDefault(); $event.stopPropagation(); removeEventRSVP(event.eventID)">Remove RSVP</button>
              </ng-container>
              <ng-template #ShowRSVP>
                <button class="blueButton" (click)=" $event.preventDefault(); $event.stopPropagation(); eventRSVP(event.eventID)">RSVP</button>
              </ng-template>
            </ng-container>
          </div>
        </div>
      </ng-template>
    </p-table>
  </ng-template>

  <!--<div class="clubAnnouncementsRight" [ngClass]="{'mobileTabletClubAnnouncementWidth clubAnnouncementsRightGridMobileTablet' : responsiveService.deviceMobile() || responsiveService.deviceTablet(), 'clubAnnouncementsRightGridWeb' : responsiveService.deviceDesktop()}">
    <div class="announcementBorders">
      <h2 class="blueHeaders text-center">OSI Announcements</h2>
      <hr class="announcementLine">
      <div class="announcementContent" *ngFor="let announcement of osiAnnouncements; index as index; last as last">
        <em class="announcementDate" *ngIf="index < 5">Posted on {{announcement.postedOn | date:'MMMM dd, YYYY'}}</em>
        <h4 class="blueHeaders convertToOswald announcementTitle" *ngIf="index < 5">{{announcement.announcementTitle}}</h4>
        <p [ngClass]="{ 'line-clamp': !showMore }" *ngIf="index < 5">{{announcement.contentOfAnnouncement}}</p>
        <hr class="announcementLine" *ngIf="index < 5">
      </div>
      <button class="blueButton">Show More</button>
    </div>
  </div>-->


  <div class="headerMargin">
    <h1 class="blueHeaders text-center">Announcements From the Office of Student Involvement</h1>
  </div>

    <p-table [value]="osiAnnouncements" [paginator]="true" [rows]="numberOfRows"  [loading]="isLoading">
      <ng-template pTemplate="body" let-announcement>
        <div class="announcementCard" [ngClass]="{'announcementCardSizeWeb' : responsiveService.deviceDesktop(), 'announcementCardSizeTabletMobile' : responsiveService.deviceMobile() || responsiveService.deviceTablet()}">
          <em class="announcementDate">Posted on {{announcement.postedOn | date:'MMMM dd, YYYY'}}</em>
          <h4 class="blueHeaders convertToOswald announcementTitle">{{announcement.announcementTitle}}</h4>
          <p [ngClass]="{ 'line-clamp': !showMore }">{{announcement.contentOfAnnouncement}}</p>
        </div>
      </ng-template>

    </p-table>

</div>







<p-dialog [(visible)]="viewMoreInfoDialog" [breakpoints]="{'1080px': '80vw', '600px' : '100vw', '400px': '120vw'}" [style]="{width: '35vw'}" [modal]="true" [dismissableMask]="true"  [baseZIndex]="10000" (onHide)="closeViewMoreInfoDialog()">
  <div class="eventCardDialog text-center" *ngFor="let event of certainEvent">
    <div class="eventCardPicture">
      <div class="imageCenter">
        <img class="eventImageDialog" src="assets/snhuLogoStock.png"> <!--CHANGE TO CLUB LOGO-->
      </div>
      <div class="imageMaskDialog"></div>
      <h3 class="blueHeaders text-center">{{event.eventName}}</h3>
      <h5 class="eventClubName">{{event.clubName}}</h5>

      <div class="eventInformationDialogContainer">
        <div class="eventDateDialog">
          <h3 class="blueHeaders text-center">Date</h3>
          <p>{{event.eventDate | date:'MMMM dd, YYYY'}}</p>
        </div>
        <div class="eventTimeDialog">
          <h3 class="blueHeaders text-center">Time</h3>
          <p>{{event.startTime | timeFormat}} - {{event.endTime | timeFormat}}</p>
        </div>
        <div class="eventTransportationDialog">
          <h3 class="blueHeaders text-center">Transportation</h3>
          <ng-container *ngIf="event.isTransportation; else noTransportation">
            <p>Transportation Provided</p>
          </ng-container>
          <ng-template #noTransportation>
            <p>Transportation NOT Provided</p>
          </ng-template>
        </div>
        <div class="eventTicketLinkDialog">
          <h3 class="blueHeaders text-center">Ticket Link</h3>
          <ng-container *ngIf="event.ticketLink !== null && event.ticketLink !== ''; else noTicketLink">
            <p>{{event.ticketLink}}</p>
          </ng-container>
          <ng-template #noTicketLink>
            <p>N/A</p>
          </ng-template>
        </div>
        <div class="eventDescriptionDialog">
          <h3 class="blueHeaders text-center">Description</h3>
          <p>{{event.eventDesc}}</p>
        </div>
        <div class="eventLocationDialog">
          <h3 class="blueHeaders text-center">Location</h3>
          <p>{{event.eventLocation}} -> {{event.spaceName}}</p>
        </div>
      </div>
      <ng-container *ngIf="isLoggedIn">
        <ng-container *ngIf="isUserRSVPd(event.eventID) === true; else ShowRSVP">
          <button class="blueButton" (click)=" $event.preventDefault(); $event.stopPropagation(); removeEventRSVP(event.eventID)">Remove RSVP</button>
        </ng-container>
        <ng-template #ShowRSVP>
          <button class="blueButton" (click)=" $event.preventDefault(); $event.stopPropagation(); eventRSVP(event.eventID)">RSVP</button>
        </ng-template>
      </ng-container>
      <button class="blueButton" (click)="closeViewMoreInfoDialog()">Close</button>
    </div>
  </div>
</p-dialog>
