.buttonContainer {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center
}

.clubDropdown {
  margin: 10px;
}

.centerButton {
  display: flex;
  justify-content: center;
}
