<h2 class="blueHeaders">Do's</h2>
<h5><li>Check 25Live before reserving a room to make sure the space is available</li></h5>
<h5><li>Make your own room reservations through 25Live</li></h5>
<h5><li>Create an estimated budget for an event or trip</li></h5>
<h5><li>Contact the Office of Student Involvement to prepare contracts</li></h5>
<h5><li>Leave at least 3 weeks for ticket sales before departure date (request at <a href="https://snhutickets.universitytickets.com/w/" target="_blank">SNHUTickets</a>)</li></h5>
<h5><li>Meet with the staff of the Office of Student Involvement to prepare for all off campus trips & conferences</li></h5>
<h5><li>Advertise for your event at least 2 weeks in advance (earlier for ticketed events!)</li></h5>
<h5><li>Submit a Budget Disbursement form for cash advances or checks at least one week before your event or trip</li></h5>
<h5><li>Make sure you have volunteers to help at the actual event</li></h5>
<h5><li>Consult your advisor for all event planning needs and preparations</li></h5>
<h5><li>Make sure you contact the Office of Student Involvement to set up meetings; don’t assume they can meet with you if you stop by</li></h5>
<h5><li>Clean up after an event</li></h5>
<h2 class="blueHeaders">Dont's</h2>
<h5><li>Don’t sign your own contracts. The Director of Student Involvement is the only person who has authority to do so.</li></h5>
<h5><li>Don’t allow performers to drink alcohol before or after a performance. It is against NH Liquor Law. Once they are loaded out, they are allowed to have a drink at the Last Chapter Pub</li></h5>
<h5><li>Don’t wait until the last minute! Requests will not be taken, as well as checks will not be cut, which means your event may not happen!</li></h5>
<h5><li>Don’t drink alcohol at an event if you are the event planner or make sure someone is not drinking from your organization to be the point person and assist in troubleshooting.</li></h5>
<h5><li>Don’t forget to return all petty cash & hand in all itemized receipts within five days of your event</li></h5>
<h5><li>Don’t forget that the Office of Student Involvement is here to help you!</li></h5>
