<div *ngIf="successMessage === true" class="alert alert-success alert-dismissible fade show eventAlerts" role="alert">
  <p>{{this.message}}</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div *ngIf="failMessage === true" class="alert alert-danger alert-dismissible fade show eventAlerts" role="alert">
  <p>{{this.message}}</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="gridContainer">
  <div id="titleDiv">
    <h1 class="pageTitle text-center">View and Manage Clubs</h1>
    <h3 class="text-center textMargin">View all of the clubs offered here at SNHU and favorite them!</h3>
    <p-carousel [value]="imagesForClubSearch" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [showNavigators]="false" [showIndicators]="false">
      <ng-template let-club pTemplate="item">
        <img src="assets/{{club}}">
      </ng-template>
    </p-carousel>
    <div class="d-flex align-items-center justify-content-center">
      <button class="blueButton clubSearch" (click)="this.checkLogin()">Search for Clubs</button>
    </div>
  </div>
  <div id="topClubsDiv">
    <h1 class="topClubsTitle text-center">Top 5 Clubs at SNHU</h1>
    <div class="text-center firstPlace">

      <h3>{{topClubs[0].clubName}}</h3>
      <h5>First</h5>
    </div>
    <div class="text-center secondPlace">
      <h3>{{topClubs[1].clubName}}</h3>
      <h5>Second</h5>
    </div>
    <div class="text-center thirdPlace">
      <h3>{{topClubs[2].clubName}}</h3>
      <h5>Third</h5>
    </div>
    <div class="text-center fourthPlace">
      <h3>{{topClubs[3].clubName}}</h3>
      <h5>Fourth</h5>
    </div>
    <div class="text-center fifthPlace">
      <h3>{{topClubs[4].clubName}}</h3>
      <h5>Fifth</h5>
    </div>
  </div>
  <div id="favoritedClubs">
    <ng-container *ngIf="this.isLoggedIn;else featuredClubsView">
      <h1 class="text-center">Favorited Clubs</h1>
      <ng-template [ngIf]="favoritedClubs.length === 0">
        <div class="noDataContent">
          <h2>There are no clubs to display!</h2>
        </div>
      </ng-template>
      <ng-template [ngIf]="favoritedClubs.length !== 0">
        <p-carousel [value]="favoritedClubs" [numVisible]="3" [numScroll]="3" [circular]="true" [autoplayInterval]="10000">
          <ng-template let-favClubs pTemplate="item">
            <div class="clubCard">
              <div class="clubContent">
                <div>
                  <h3 class="p-mb-1">{{favClubs.clubName}}</h3>
                  <hr>
                </div>
                <div class="logoMargin">
                  <img class="clubLogo" src="assets/{{favClubs.clubLogo}}">
                </div>
                <div>
                  <button class="blueButton" (click)="goToClubPage(favClubs.clubID)">Go To Club</button>
                  <button class="blueButton" (click)="removeFromFavorites(+this.cookie.get('studentID'), favClubs.clubID)">Unfavorite</button>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </ng-template>
    </ng-container>
    <ng-template #featuredClubsView>
      <h1 class="text-center">Featured Clubs</h1>
      <ng-template [ngIf]="featuredClubs.length === 0">
        <div class="noDataContent">
          <h2>There are no clubs to display!</h2>
        </div>
      </ng-template>
      <ng-template [ngIf]="featuredClubs.length !== 0">
        <p-carousel [value]="featuredClubs" [numVisible]="3" [numScroll]="3" [circular]="true" [autoplayInterval]="10000">
          <ng-template let-featClubs pTemplate="item">
            <div class="clubCard">
              <div class="clubContent">
                <div>
                  <h3 class="p-mb-1">{{featClubs.clubName}}</h3>
                  <hr>
                </div>
                <div class="logoMargin">
                  <img class="clubLogo" src="assets/{{featClubs.clubLogo}}">
                </div>
                <div>
                  <button class="blueButton" (click)="goToClubPage(featClubs.clubID)">Go To Club</button>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </ng-template>
    </ng-template>
  </div>
  <div id="favoritedEvents">
    <ng-container *ngIf="isLoggedIn;else allEventsView">
      <h1 class="text-center">Your Favorited Clubs Events</h1>
      <ng-template [ngIf]="favoritedClubsEvents.length === 0">
        <div class="noDataContent">
          <h2>There are no events to display!</h2>
        </div>
      </ng-template>
      <ng-template [ngIf]="favoritedClubsEvents.length !== 0">
        <p-carousel styleClass="eventsCaro" [value]="favoritedClubsEvents" [numVisible]="3" [numScroll]="3" [circular]="true" [autoplayInterval]="10000">
          <ng-template let-event pTemplate="item">
            <div class="clubCard">
              <div class="clubContent">
                <div>
                  <h3 class="p-mb-1">{{event.eventName}}</h3>
                  <hr>
                  <div class="parent">
                    <div class="div1">
                      <h3 class="eventDataTitle">Date</h3>
                      <h5 class="eventData">{{event.eventDate}}</h5>
                    </div>
                    <div class="div2">
                      <h3 class="eventDataTitle">Time</h3>
                      <h5 class="eventData">{{event.startTime}} - {{event.endTime}}</h5>
                    </div>
                    <div class="div3">
                      <h3 class="eventDataTitle">Location</h3>
                      <h5 class="eventData">{{event.eventLocation}}</h5>
                    </div>
                    <div class="div4">
                      <h3 class="eventDataTitle">Hosted By</h3>
                      <h5 class="eventData">{{event.clubName}}</h5>
                    </div>
                    <div class="div5">
                      <button class="blueButton">View More Information</button>
                      <button class="blueButton" (click)="eventRSVP(event.eventID)">RSVP</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </ng-template>
    </ng-container>
    <ng-template #allEventsView>
      <h1 class="text-center">All Club Events</h1>
      <ng-template [ngIf]="allFutureEvents.length === 0">
          <div class="noDataContent">
            <h2>There are no events to display!</h2>
          </div>
      </ng-template>
      <ng-template [ngIf]="allFutureEvents.length !== 0">
        <p-carousel styleClass="eventsCaro" [value]="allFutureEvents" [numVisible]="3" [numScroll]="3" [circular]="true" [autoplayInterval]="10000">
          <ng-template let-event pTemplate="item">
            <div class="clubCard">
              <div class="clubContent">
                <div>
                  <h3 class="p-mb-1">{{event.eventName}}</h3>
                  <hr>
                  <div class="parent">
                    <div class="div1">
                      <h3 class="eventDataTitle">Date</h3>
                      <h5 class="eventData">{{event.eventDate}}</h5>
                    </div>
                    <div class="div2">
                      <h3 class="eventDataTitle">Time</h3>
                      <h5 class="eventData">{{event.startTime}} - {{event.endTime}}</h5>
                    </div>
                    <div class="div3">
                      <h3 class="eventDataTitle">Location</h3>
                      <h5 class="eventData">{{event.eventLocation}}</h5>
                    </div>
                    <div class="div4">
                      <h3 class="eventDataTitle">Hosted By</h3>
                      <h5 class="eventData">{{event.clubName}}</h5>
                    </div>
                    <div class="div5">
                      <button class="blueButton">View More Information</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </ng-template>
    </ng-template>
  </div>
  <div id="item-4">&nbsp;</div>
</div>

<!-- NOT LOGGED IN-->
<p-dialog [(visible)]="displayClubSearchModal" [modal]="true" [style]="{width: '35vw'}" [dismissableMask]="true" [baseZIndex]="10000">
  <a class="ui-dialog-titlebar-icon ui-dialog-titlebar-close ui-corner-all closeButtonDialog" role="button" (click)="closeClubSearchDialog()">
    <span class="fa fa-fw fa-close fa-lg"></span>
  </a>
  <div class="content" role="main">
    <div class="card">
      <h1 class="text-center clubSearchTitle">Search for Clubs</h1>
      <p-table #dtNotLoggedIn [columns]="cols" [value]="allClubs" responsiveLayout="scroll" [loading]="loading" [scrollable]="true" scrollHeight="600px" styleClass="p-datatable-striped" [globalFilterFields]="['clubName']">
        <ng-template pTemplate="caption">
          <div class="clubSearchInput">
            <input class="form-control formInputs" pInputText type="text" (input)="onFilterNotLoggedInTable($event)" placeholder="Search" />
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="justify-content: center" *ngFor="let col of columns" [pSortableColumn]="col.field">{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-club>
          <tr>
            <td style="justify-content: center" class="clubNameCell" (click)="goToClubPage(club.clubID)">{{club.clubName}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-dialog>

<!-- LOGGED IN-->
<p-dialog [(visible)]="displayClubSearchLoggedInModal" [modal]="true" [style]="{width: '35vw'}" [dismissableMask]="true" [baseZIndex]="10000">
 <a class="ui-dialog-titlebar-icon ui-dialog-titlebar-close ui-corner-all closeButtonDialog" role="button" (click)="closeClubSearchLoggedInDialog()">
   <span class="fa fa-fw fa-close fa-lg"></span>
 </a>
 <div class="content" role="main">
   <div class="card">
     <h1 class="text-center clubSearchTitle">Search for Clubs</h1>
     <p-table #dtLoggedIn [value]="notFavoritedClubs" [columns]="cols" responsiveLayout="scroll" [loading]="loading" [scrollable]="true" scrollHeight="600px" styleClass="p-datatable-striped" [globalFilterFields]="['clubName']">
       <ng-template pTemplate="caption">
         <div class="clubSearchInput">
           <input class="form-control formInputs" pInputText type="text" (input)="onFilterLoggedInTable($event)" placeholder="Search" />
         </div>
       </ng-template>
       <ng-template pTemplate="header" let-columns>
         <tr>
           <th style="justify-content: center" *ngFor="let col of columns" [pSortableColumn]="col.field">{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon></th>
           <th style="max-width: 200px; justify-content: center">Favorite</th>
         </tr>
       </ng-template>
       <ng-template pTemplate="body" let-club>
         <tr>
           <td style="justify-content: center" class="clubNameCell"(click)="goToClubPage(club.clubID)">{{club.clubName}}</td>
           <td style="max-width: 200px; justify-content: center;"><button class="blueButton" (click)="favoriteClub(this.userID, club.clubID)">Favorite</button></td>
         </tr>
       </ng-template>
     </p-table>
   </div>
 </div>
</p-dialog>
