.clubContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "clubNameSection clubLogoSection"
/*    "clubBioSection clubAffSection clubEboardSection"
    "clubEventsSection clubEventsSection clubEventsSection"
    "clubAnnouncementsSection clubAnnouncementsSection clubAnnouncementsSection"*/;
}

.clubGridStyle {
  display: flex;
  justify-content: center;

  border-radius: 10px;
  margin: 2%;
  background-color: #5c93cb;
  transition: all ease-in-out 300ms;
  box-shadow: inset -1px 3px 8px 5px #5c93cb, 2px 5px 16px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.clubNameSection {
  grid-area: clubNameSection;
}

.clubNameSection:hover {
  transform: scale(1.02);
}

.clubLogoSection {
  grid-area: clubLogoSection;
}

.clubLogoSection:hover {
  transform: scale(1.02);
}

.clubBioSection {
  grid-area: clubBioSection;
}

.clubAffSection {
  grid-area: clubAffSection;
}

.clubEboardSection {
  grid-area: clubEboardSection;
}

.clubEventsSection {
  grid-area: clubEventsSection;
}

.clubAnnouncementsSection {
  grid-area: clubAnnouncementsSection;
}

.clubsName {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

.clubsLogo {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.clubButton {
  float: left;
}

.buttonRow {
  display: flex;
  justify-content: center;
}

.sectionContent {
  background-color: #AECDE6;
  text-align: center;
  border-radius: 10px;
  font-size: 25px;
  padding: 2%;
  box-shadow: inset -1px 3px 8px 5px #AECDE6, 2px 5px 16px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  margin: 5%;
}

.spanScreen {
  width: 100%;
}

.bioAndEboard {
  width: 100%;
  height: 300px;
}

.bioSection {
  width: 50%;
  float: left;

}

.eboardSection {
  width: 50%;
  float: left;
}

hr {
  margin-top: 1rem;
  margin-bottom: 0 !important;
}

.bioandEboardContent {
  margin: 1% 6% !important;
  height: 200px;
}

.addTopMargin {
  margin-top: 2%;
}

.missionValueVision {
  width: 100%;
  height: 300px;
}

.mission {
  width: 33%;
  float: left;
}

.values {
  width: 33%;
  float: left;
}

.vision {
  width: 33%;
  float: left;
}

.eventAlerts {
  position: absolute;
  z-index: 1000000;

  left: 50%;
  right: 50%;

  transform: translate(-50%, -50%);

  height: 5%;
  margin-top: 2% !important;
  width: 30%;
}

.eventAlerts p {
  font-size: 1.8em;
}

.alert-dismissible .btn-close {
  padding: 1rem  1rem;
}

.alert {
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
  border-radius: 10px;
  top: 35px;
  position: sticky;
}

.clubContent {
  background-color: #AECDE6;
  border-radius: 5px;
  margin: 0.6rem;
  text-align: center;
  padding-top: 20px;
  box-shadow: inset -1px 3px 8px 5px #AECDE6, 2px 5px 16px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.clubContent h3 {
  font-weight: bold;
}

::ng-deep .p-carousel.eventsCaro {
  overflow-x: hidden !important;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  margin-bottom: 20px;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
  margin-bottom: 20px;
}
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 3 / 1 / 4 / 3; }

.eventData {
  font-weight: bolder !important;
}

.eventDataTitle {
  font-weight: 400 !important;
}

.clubEventsBackground {
  border-radius: 10px;
  margin: 1%;
  background-color: #5c93cb;
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 5;
  transition: all ease-in-out 300ms;
  box-shadow: inset -1px 3px 8px 5px #5c93cb, 2px 5px 16px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.clubEventsBackground:hover {
  transform: scale(1.01 );
}
