<div *ngIf="successMessage === true" class="alert alert-success alert-dismissible fade show eventAlerts" role="alert">
  <p>{{this.message}}</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div *ngIf="failMessage === true" class="alert alert-danger alert-dismissible fade show eventAlerts" role="alert">
  <p>{{this.message}}</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="clubContainer">
  <div class="clubNameSection clubGridStyle">
    <div class="sectionContent">
      <h1 class="clubsName">Welcome to {{clubInfo.clubName}}!</h1>
      <div class="buttonRow">
        <ng-container *ngIf=" this.cookie.get('userID') != undefined && this.isInEboard() === true;">
          <button class="clubButton blueButton" (click)="showEventsDialog()">Event Data</button>
        </ng-container>
        <ng-container *ngIf=" this.cookie.get('userID') != undefined && this.clubIsFav;">
          <button class="clubButton blueButton" (click)="removeFromFavorites(this.userID, this.clubID)">Unfavorite</button>
        </ng-container>
        <ng-template *ngIf=" this.cookie.get('userID') != undefined && !this.clubIsFav;">
          <button class="clubButton blueButton" (click)="favoriteClub(this.userID, this.clubID)">Favorite</button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="clubLogoSection clubGridStyle">
    <div class="sectionContent">
      <img class="clubsLogo" src="assets/{{clubInfo.clubLogo}}">
      <h2 class="text-center">Affiliated With</h2>
      <h2 class="text-center">{{clubInfo.clubAffiliation}}</h2>
    </div>
  </div>
</div>
<div class="bioAndEboard">
  <div class="bioSection">
    <h1 class="text-center addTopMargin">Who Are We?</h1>
    <div class="sectionContent bioandEboardContent">
      <h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
    </div>
  </div>
  <div class="eboardSection">
    <h1 class="text-center addTopMargin">The EBoard!</h1>
    <div class="sectionContent bioandEboardContent">
      <table>
        <div class = "eboardContainer" *ngFor="let member of clubEboard"  >
           <tr class = "eboardTableData">
             <td >{{member.eboardPosition}}: </td>
             <td>{{member.firstName}} {{member.lastName}}</td>
           </tr>
        </div>
      </table>


    </div>
  </div>
</div>
<div class="missionValueVision">
  <div class="mission">
    <h1 class="text-center addTopMargin">Mission</h1>
    <div class="sectionContent bioandEboardContent">
      <h5 class="text-center">{{clubInfo.clubMission}}</h5>
    </div>
  </div>
  <div class="values">
    <h1 class="text-center addTopMargin">Values</h1>
    <div class="sectionContent bioandEboardContent">
      <h5 class="text-center">{{clubInfo.clubValues}}</h5>
    </div>
  </div>
  <div class="vision">
    <h1 class="text-center addTopMargin">Vision</h1>
    <div class="sectionContent bioandEboardContent">
      <h5 class="text-center">{{clubInfo.clubVision}}</h5>
    </div>
  </div>
</div>

<div class="clubEventsBackground">
  <h1 class="text-center">Club Events</h1>
  <p-carousel styleClass="eventsCaro" [value]="clubEvents" [numVisible]="3" [numScroll]="3" [circular]="true" [autoplayInterval]="10000">
    <ng-template let-event pTemplate="item">
      <div class="clubCard">
        <div class="clubContent">
          <div>
            <h3 class="p-mb-1">{{event.eventName}}</h3>
            <hr>
            <div class="parent">
              <div class="div1">
                <h3 class="eventDataTitle">Date</h3>
                <h5 class="eventData">{{event.eventDate}}</h5>
              </div>
              <div class="div2">
                <h3 class="eventDataTitle">Time</h3>
                <h5 class="eventData">{{event.startTime}} - {{event.endTime}}</h5>
              </div>
              <div class="div3">
                <h3 class="eventDataTitle">Location</h3>
                <h5 class="eventData">{{event.eventLocation}}</h5>
              </div>
              <div class="div4">
                <h3 class="eventDataTitle">Hosted By</h3>
                <h5 class="eventData">{{event.clubID}}</h5>
              </div>
              <div class="div5">
                <button class="blueButton">View More Information</button>
                <ng-container *ngIf="userID !== 0">
                  <button class="blueButton" (click)="eventRSVP(event.eventID)">RSVP</button>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

<p-dialog [(visible)]="eventDialog" [modal]="true" [style]="{width: '35vw'}" [dismissableMask]="true" [baseZIndex]="10000">
  <a class="ui-dialog-titlebar-icon ui-dialog-titlebar-close ui-corner-all closeButtonDialog" role="button" (click)="closeEventsDialog()">
    <span class="fa fa-fw fa-close fa-lg"></span>
  </a>
  <H1>EVENTS</H1>
  <p-table [value]="clubEvents">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Date</th>
        <th>Start Time</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-event>
      <tr>

        <td>{{event.eventName}}</td>
        <td>{{event.eventLocation}}</td>
        <td>{{event.eventDate}}</td>
        <td>{{event.startTime}}</td>
        <td><button class="blueButton">Edit</button></td>
      </tr>
    </ng-template>
  </p-table>

  <button (click) = "showAddEventDialog()" class="blueButton"> Add Event</button>

</p-dialog>

<p-dialog [(visible)]="addEventDialog" [modal]="true" [style]="{width: '35vw'}" [dismissableMask]="true" [baseZIndex]="10000">
  <a class="ui-dialog-titlebar-icon ui-dialog-titlebar-close ui-corner-all closeButtonDialog" role="button" (click)="closeAddEventDialog()">
    <span class="fa fa-fw fa-close fa-lg"></span>
  </a>
  <h1>Add Events</h1>
  <form [formGroup]="createEventForm">
    <input class="form-control formLeftInputs" type="text" placeholder="Event Name" formControlName="eventName">
    <input class="form-control formLeftInputs" type="text" placeholder="Location" formControlName="eventLocation">
    <input class="form-control formRightInputs" type="time" placeholder="Start Time" formControlName="startTime">
    <input class="form-control formRightInputs" type="time" placeholder="End Time" formControlName="endTime">
    <input class="form-control formLeftInputs" type="date" placeholder="Event Date" formControlName="eventDate">
    <input class="form-control formLeftInputs largeTextField" type="text" placeholder="Event Description" formControlName="eventDesc">
   <label>Transportation?</label>
    <input  type="radio" placeholder="Transportation" formControlName="isTransportation">
    <input class="form-control formRightInputs" type="text" placeholder="Ticket Link" formControlName="ticketLink">
    <button class="blueButton" type="submit" (click)="submitNewEvent()">Create Event</button>

  </form>

</p-dialog>
