.clubContainer {
  margin: 1.5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "clubNameSection clubNameSection clubLogoSection"
    "clubBioSection clubAffSection clubEboardSection"
    "clubEventsSection clubEventsSection clubEventsSection"
    "clubAnnouncementsSection clubAnnouncementsSection clubAnnouncementsSection";
}

.clubGridStyle {
  border-radius: 10px;
  margin: 2%;
  background-color: #5c93cb;
  transition: all ease-in-out 300ms;
  box-shadow: inset -1px 3px 8px 5px #5c93cb, 2px 5px 16px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.clubNameSection {
  margin: 1% !important;
  grid-area: clubNameSection;
}

.clubNameSection:hover {
  transform: scale(1.02);
}

.clubLogoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: clubLogoSection;
}

.clubLogoSection:hover {
  transform: scale(1.04);
}

.clubBioSection {
  grid-area: clubBioSection;
}

.clubAffSection {
  grid-area: clubAffSection;
}

.clubEboardSection {
  grid-area: clubEboardSection;
}

.clubEventsSection {
  grid-area: clubEventsSection;
}

.clubAnnouncementsSection {
  grid-area: clubAnnouncementsSection;
}

.clubsName {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

.clubsLogo {
  width: 325px;
}

.textBlock {
  background-color: #AECDE6;
  margin: 5%;
  text-align: center;
  border-radius: 10px;
  font-size: 25px;
  padding: 5%;
  box-shadow: inset -1px 3px 8px 5px #AECDE6, 2px 5px 16px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  height: 215px;
}

p {
  margin: 0 !important;
}

.clubButton {
  float: left;
}

.buttonRow {
  display: flex;
  justify-content: center;
}
