<h2 class="blueHeaders">Minimum Requirements for Clubs</h2>
<h5><li>Turn in roster each semester by the deadline</li></h5>
<h5><li>Maintain a minimum of seven active members for the entire year</li></h5>
<h5><li>Participate in the Involvement Fair in the Fall & Spring</li></h5>
<h5><li>Follow Budget and Finance Policies (as well as all SGA and Student Involvement Policies)</li></h5>
<h5><li>Attend all required leadership programs</li></h5>
<ul>
  <h5><li>Executive Board Training</li></h5>
  <h5><li>Fall Leadership Conference</li></h5>
  <h5><li>Spring Leadership Transition Summit</li></h5>
  <h5><li>Club Collaborations or any Additional Trainings</li></h5>
</ul>
<h5><li>Check club e-mail regularly and respond to emails in a timely manner</li></h5>
<h5><li>Host one event per semester for all of campus</li></h5>
<h5><li>Keep an updated Constitution on-file with the Office of Student Involvement</li></h5>
<h2 class="blueHeaders">What happens if those are not met?</h2>
<h5><li>If a club fails to meet expectations:</li></h5>
<ul>
  <h5><li>The club or organization is put on probation</li></h5>
  <h5><li>A development plan may be put in place for the club or organization</li></h5>
  <h5><li>The club or organization may lose recognition</li></h5>
</ul>
<h5><li>All clubs and organizations are reviewed at the end of each semester for completion of the minimum requirements</li></h5>
<h5><li>If the club budget is overspent, the club’s account(s) will be frozen, and the club will be responsible for paying back the funds</li></h5>
