@import '~@fullcalendar/common/main.css';
@import '~@fullcalendar/common/main.min.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/daygrid/main.min.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/timegrid/main.min.css';
@import 'src/styles';


.fc { /* the calendar root */
  max-width: 95vw;
  white-space: pre-wrap;
  margin: 0 auto 30px;
}

::ng-deep {
  .fc.fc-theme-standard .fc-toolbar .fc-button {

    background-color: $HeritageBlue !important;
    border: 3px solid white !important;
    color: $GoldenYellow !important;
    box-shadow: none !important;
    text-transform: capitalize;
    border-collapse: separate;
    border-radius: 30px;

  }

  .fc.fc-theme-standard .fc-toolbar .fc-button:hover {
    background-color: $GoldenYellow !important;
    border: 3px solid white !important;
    color: $HeritageBlue !important;
    box-shadow: none !important;
    
  }

  .fc.fc-theme-standard .fc-view-harness th  {
    background-color: $HeritageBlue !important;
  }

  .fc.fc-theme-standard .fc-view-harness .fc-cell-shaded {
    background-color: $HeritageBlue !important;
  }

  .fc.fc-theme-standard .fc-view-harness th a {
    color: $GoldenYellow !important;
  }

  .fc-daygrid-dot-event .fc-event-title {
    text-overflow: ellipsis !important;
    overflow: hidden !important;

  }

  .fc.fc-theme-standard .fc-toolbar .fc-button.fc-dayGridMonth-button.fc-button-active,
  .fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridWeek-button.fc-button-active,
  .fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridDay-button.fc-button-active,
  .fc.fc-theme-standard .fc-toolbar .fc-button.fc-listWeek-button.fc-button-active {
    background: $GoldenYellow !important;
    color: $HeritageBlue !important;
    box-shadow: none !important;
    text-transform: capitalize;
    border-collapse: separate;



  }

  .fc .fc-daygrid-body-balanced .fc-daygrid-day-events {
    cursor: pointer !important;
  }

  .fc-timegrid-event-harness {
    cursor: pointer !important;
  }

  .fc .fc-event, .fc .fc-scrollgrid table tr {
    cursor: pointer !important;
  }

  .fc.fc-theme-standard .fc-highlight {
    background-color: $SkyBlue !important;
  }

  .fc .fc-toolbar-title {
    color: $HeritageBlue;
    font-size: 2rem !important;

  }

  .fc-day-grid-event > .fc-content:hover {
    max-height:none!important;
  }

  .fc-day-grid-event > .fc-content {
    white-space: normal;
    text-overflow: ellipsis;
    max-height:20px;
  }
}


@media (max-width: 768px) {
  ::ng-deep {
    .fc .fc-toolbar.fc-header-toolbar {
      display: block;
      text-align: center;
    }

    .fc-header-toolbar .fc-toolbar-chunk {
      padding: 7px;
      display: block;
    }

    .applyMargin {
      text-align: center !important;
    }

    .removeMargin {
      margin-left: 10px !important;
    }
  }
}

.applyMargin {
  margin-left: 2.5%;
}

.removeMargin {
  margin-left: 0;
}

.filterSection {
}

.filterSection button {
  margin: 0 !important;
}

::ng-deep .p-dropdown-item.p-ripple {
  white-space: normal;
}

.dialogContainer {
  padding: 25px;
}

.dropdownContentSize {
  margin: 20px;
}

.filterFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.setAutoHeight {
  height: auto !important;
  padding: 10px !important;
}

.calendarDropdownBlue::ng-deep {
  .p-dropdown {
    text-align: center;
    background-color: $HeritageBlue;
    color: $GoldenYellow;
  }
  .p-dropdown .p-dropdown-label, .p-dropdown .p-dropdown-label.p-placeholder {
    color: $GoldenYellow;
  }
}

.calendarDropdownYellow::ng-deep {
  .p-dropdown {
    text-align: center;
    background-color: $GoldenYellow;
    color: $HeritageBlue;
  }
  .p-dropdown .p-dropdown-label, .p-dropdown .p-dropdown-label.p-placeholder {
    color: $HeritageBlue;
  }
}
