@import '~@fullcalendar/common/main.css';
@import '~@fullcalendar/common/main.min.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/daygrid/main.min.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/timegrid/main.min.css';


.fc { /* the calendar root */
  max-width: 95vw;
  margin: 0 auto;
  white-space: pre-wrap;
}

::ng-deep .fc.fc-theme-standard .fc-toolbar .fc-button {
  background-color: #dadada;
  border-color: #dadada;
  color: #333333;
}

::ng-deep .fc.fc-theme-standard .fc-toolbar .fc-button:hover {
  background-color: #116fbf;
  border-color: #116fbf;
  color: white;
}

::ng-deep .fc.fc-theme-standard .fc-toolbar .fc-button:active {
  background-color: #007ad9 !important;
  border-color: #007ad9 !important;
  color: white;
}

::ng-deep .fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
  background-color: #007ad9 !important;
  border-color: #007ad9 !important;
  color: white;
}

::ng-deep .fc .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:not(:disabled):active:focus {
  box-shadow: 0 0 0 0.2rem #8dcdff !important;
}

::ng-deep .fc .fc-daygrid-body-balanced .fc-daygrid-day-events {
  cursor: pointer !important;
}

::ng-deep .fc-timegrid-event-harness {
  cursor: pointer !important;
}

::ng-deep .fc .fc-event, .fc .fc-scrollgrid table tr {
  cursor: pointer !important;
}

::ng-deep .fc-daygrid-dot-event .fc-event-title {
  overflow: inherit !important;
  white-space: normal !important;
}

@media (max-width: 768px) {
  ::ng-deep {
    .fc .fc-toolbar.fc-header-toolbar {
      display: block;
      text-align: center;
    }

    .fc-header-toolbar .fc-toolbar-chunk {
      padding: 7px;
      display: block;
    }

  }
}

::ng-deep .fc-day-grid-event > .fc-content {
  white-space: normal;
  text-overflow: ellipsis;
  max-height:20px;
}
::ng-deep .fc-day-grid-event > .fc-content:hover {
  max-height:none!important;
}
