<div class="buttonContainer">
  <h1>Filter Calendar</h1>
  <button class="yellowButton" (click)="activateAllEventsFilter()">Show All Events</button>
  <button class="yellowButton" (click)="activateFavoritedClubEventsFilter()" [disabled]="!userID">Show Favorited Club Events</button>
  <p-dropdown class="clubDropdown" [options]="dropdownOptions" optionLabel="clubName" placeholder="Select a Club to View Events" (onChange)="onClubSelected($event)"></p-dropdown>
  <div class="filterByLocation">
    <h3>Filter by Location</h3>
    <div class="eventLocation containerContentSize">
      <label class="dialogLabels">Location</label>
      <p-dropdown [(ngModel)]="locationID" [options]="locationsList" [filter]="true" [autoDisplayFirst]="false" optionValue="location_ID" optionLabel="locationName" placeholder="Select Location" class="dropdownLength" (onChange)="checkLocationSelected()" [style]="{'width':'400px', 'height':'50px', 'border':'2px solid #0667B3', 'border-radius':'10px'}"></p-dropdown>
    </div>
    <div class="eventSpace containerContentSize">
      <label class="dialogLabels">Space</label>
      <p-dropdown [(ngModel)]="spaceID" [options]="spacesList" [filter]="true" [autoDisplayFirst]="false" [disabled]="disableSpaceDropdown" optionValue="space_ID" optionLabel="spaceName" placeholder="Select Space" class="dropdownLength" (onChange)="activateSpaceFilter()" [style]="{'width':'400px', 'height':'50px', 'border':'2px solid #0667B3', 'border-radius':'10px'}"></p-dropdown>
    </div>
  </div>
</div>


<full-calendar [options]="options" [deepChangeDetection]="true"></full-calendar>

<p-dialog  [(visible)]="viewMoreInfoDialog" [modal]="true" [style]="{width: '35vw'}" [dismissableMask]="true" [baseZIndex]="10000">
  <a class="ui-dialog-titlebar-icon ui-dialog-titlebar-close ui-corner-all closeButtonDialog" role="button" (click)="closeViewMoreInfoDialog()">
    <span class="fa fa-fw fa-close fa-lg"></span>
  </a>
  <h1 class="text-center">Event Information</h1>
  <hr class="dialogLines">
    <div class="eventInfoContainer" *ngIf="selectedEvent">
      <div class="eventName">
        <h3 class="eventDataTitle">Event Name: </h3>
        <h5 class="eventData">{{this.selectedEvent.eventName}}</h5>
      </div>
      <div class="eventDate">
        <h3 class="eventDataTitle">Event Date: </h3>
        <h5 class="eventData">{{this.selectedEvent.eventDate | date:'MMMM dd, YYYY'}}</h5>
      </div>
      <div class="eventTime">
        <h3 class="eventDataTitle">Time: </h3>
        <h5 class="eventData">{{this.selectedEvent.startTime | timeFormat}} - {{this.selectedEvent.endTime | timeFormat}}</h5>
      </div>
      <div class="eventLocation">
        <h3 class="eventDataTitle">Event Location: </h3>
        <h5 class="eventData">{{this.selectedEvent.eventLocation}}</h5>
      </div>
      <div class="eventDesc">
        <h3 class="eventDataTitle">Event Description: </h3>
        <h5 class="eventData">{{this.selectedEvent.eventDesc}}</h5>
      </div>
      <div class="eventHost">
        <h3 class="eventDataTitle">Hosted By:</h3>
        <h5 class="eventData">{{this.selectedEvent.clubName}}</h5>
      </div>
      <div class="eventTransportation">
        <h3 class="eventDataTitle">Transportation</h3>
        <ng-container *ngIf="this.selectedEvent.isTransportation; else noTransportation">
          <h5 class="eventData">Transportation Provided</h5>
        </ng-container>
        <ng-template #noTransportation>
          <h5 class="eventData">Transportation NOT provided</h5>
        </ng-template>
      </div>
      <div class="eventTicketLink">
        <h3 class="eventDataTitle">Ticket Link:</h3>
        <h5 class="eventData">{{this.selectedEvent.ticketLink}}</h5>
      </div>
    </div>
</p-dialog>

