<ng-container *ngIf="isLoggedIn === false; else UserIsLoggedIn">
  <h1 class="text-center">You must be <b>Logged In</b> to view this page!</h1>
</ng-container>

<ng-template #UserIsLoggedIn>
  <div class="filterFlex">
    <button [ngClass]="currentFilter === 'allEventsFilter' ? 'yellowButton' : 'blueButton'" class="setAutoHeight" (click)="activateAllEventsFilter()">All Events</button>
    <button [ngClass]="currentFilter === 'favoritedClubEventsFilter' ? 'yellowButton' : 'blueButton'" class="setAutoHeight" (click)="activateFavoritedClubEventsFilter()" [disabled]="!userID">Favorited Club Events</button>
    <button [ngClass]="currentFilter === 'RSVPEventsFilter' ? 'yellowButton' : 'blueButton'" class="setAutoHeight" (click)="activateRSVPFilter()" [disabled]="!userID">RSVP'd Events</button>
  </div>
  <div class="filterFlex">
    <div class="dropdownContentSize">
      <p-dropdown [options]="dropdownOptions" [filter]="true" optionLabel="clubName" [ngClass]="currentFilter === 'clubEventsFilter' ? 'calendarDropdownYellow' : 'calendarDropdownBlue'" placeholder="Filter by Club" (onChange)="activateClubFilter($event)" [style]="{'border':'2px solid #0667B3', 'border-radius':'10px'}"></p-dropdown>
    </div>
  </div>

<!--  FullCalendar call  -->
  <full-calendar [options]="options"></full-calendar>

</ng-template>

<p-dialog [(visible)]="viewMoreInfoDialog" [breakpoints]="{'1080px': '80vw', '600px' : '100vw', '400px': '120vw'}" [style]="{width: '35vw'}" [modal]="true" [dismissableMask]="true"  [baseZIndex]="10000" (onHide)="closeViewMoreInfoDialog()">
  <div class="eventCardDialog text-center" *ngFor="let event of selectedEvent">
    <div class="eventCardPicture">
        <div class="imageCenter">
          <img class="eventImage" [src]="event.clubLogo" alt="{{event.clubName}} Logo"/>
        </div>
        <div class="imageMaskDialog"></div>
      <h3 class="blueHeaders text-center setMargin" [innerHTML]="event.title"></h3>
      <h5 class="eventClubName setMargin" (click)="goToClubPage(event.clubID)" [innerHTML]="event.clubName"></h5>

      <div class="eventInformationDialogContainer">
        <div class="eventDateDialog">
          <h3 class="blueHeaders text-center">Date</h3>
          <p>{{event.dateTimeFormatted | date:'MMMM dd, YYYY'}}</p>
        </div>
        <div class="eventTimeDialog">
          <h3 class="blueHeaders text-center">Time</h3>
          <p>{{event.startDateTime | timeFormat}} - {{event.endDateTime | timeFormat}}</p>
        </div>
        <div class="eventTransportationDialog">
          <h3 class="blueHeaders text-center">Transportation</h3>
          <ng-container *ngIf="event.isTransportation; else noTransportation">
            <p>Transportation Provided</p>
          </ng-container>
          <ng-template #noTransportation>
            <p>Transportation NOT Provided</p>
          </ng-template>
        </div>
        <div class="eventTicketLinkDialog">
          <h3 class="blueHeaders text-center">Ticket Link</h3>
          <ng-container *ngIf="event.ticketLink !== null && event.ticketLink !== ''; else noTicketLink">
            <p>{{event.ticketLink}}</p>
          </ng-container>
          <ng-template #noTicketLink>
            <p>N/A</p>
          </ng-template>
        </div>
        <div class="eventDescriptionDialog">
          <h3 class="blueHeaders text-center">Description</h3>
          <div class="descriptionStyling" [innerHTML]="event.description"></div>
        </div>
        <div class="eventLocationDialog">
          <h3 class="blueHeaders text-center">Location</h3>
          <p [innerHTML]="event.location"></p>
        </div>
      </div>
      <ng-container *ngIf="isLoggedIn">
        <ng-container *ngIf="isUserRSVPd(event.eventID) === true; else ShowRSVP">
          <button class="blueButton" (click)=" $event.preventDefault(); $event.stopPropagation(); removeEventRSVP(event.eventID)">Remove RSVP</button>
        </ng-container>
        <ng-template #ShowRSVP>
          <button class="blueButton" (click)=" $event.preventDefault(); $event.stopPropagation(); eventRSVP(event.eventID,event.clubID)">RSVP</button>
        </ng-template>
      </ng-container>
      <button class="blueButton" (click)="closeViewMoreInfoDialog()">Close</button>
    </div>
  </div>
</p-dialog>
