@import '~@fullcalendar/common/main.css';
@import '~@fullcalendar/common/main.min.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/daygrid/main.min.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/timegrid/main.min.css';
@import 'src/styles';


.fc { /* the calendar root */
  max-width: 95vw;
  margin: 0 auto;
  white-space: pre-wrap;
}

::ng-deep {
  .fc.fc-theme-standard .fc-toolbar .fc-button {
    background-color: $HeritageBlue !important;
    border: 3px solid white !important;
    color: $GoldenYellow !important;
    box-shadow: none !important;
  }

  .fc.fc-theme-standard .fc-toolbar .fc-button:hover {
    background-color: $GoldenYellow !important;
    border: 3px solid white !important;
    color: $HeritageBlue !important;
    box-shadow: none !important;
  }

  .fc.fc-theme-standard .fc-view-harness th  {
    background-color: $HeritageBlue !important;
  }

  .fc.fc-theme-standard .fc-view-harness th a {
    color: $GoldenYellow !important;
  }

  .fc-daygrid-dot-event .fc-event-title {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
  }

  .fc.fc-theme-standard .fc-toolbar .fc-button.fc-dayGridMonth-button.fc-button-active,
  .fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridWeek-button.fc-button-active,
  .fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridDay-button.fc-button-active,
  .fc.fc-theme-standard .fc-toolbar .fc-button.fc-listWeek-button.fc-button-active {
    background: $GoldenYellow !important;
    color: $HeritageBlue !important;
    box-shadow: none !important;
  }

  .fc .fc-daygrid-body-balanced .fc-daygrid-day-events {
    cursor: pointer !important;
  }

  .fc-timegrid-event-harness {
    cursor: pointer !important;
  }

  .fc .fc-event, .fc .fc-scrollgrid table tr {
    cursor: pointer !important;
  }

  .fc.fc-theme-standard .fc-highlight {
    background-color: $SkyBlue !important;
  }
}


@media (max-width: 768px) {
  ::ng-deep {
    .fc .fc-toolbar.fc-header-toolbar {
      display: block;
      text-align: center;
    }

    .fc-header-toolbar .fc-toolbar-chunk {
      padding: 7px;
      display: block;
    }

  }
}

::ng-deep .fc-day-grid-event > .fc-content {
  white-space: normal;
  text-overflow: ellipsis;
  max-height:20px;
}
::ng-deep .fc-day-grid-event > .fc-content:hover {
  max-height:none!important;
}
