<h2 class="blueHeaders">Office of Student Involvement Staff</h2>
<h5><li>Jay Tifone, Senior Director: SGA Advisor, SEC. Contact: j.tifone@snhu.edu</li></h5>
<h5><li>Amanda Seibel, Director: Leadership Program. Contact: a.seibel@snhu.edu</li></h5>
<h5><li>Elizabeth LaClair, Associate Director: Homecoming, Orientation, First Days, Senior Events. Contact: e.laclair@snhu.edu</li></h5>
<h5><li>Chantel Freeman, Associate Director: Online Events. Contact: c.freeman@snhu.edu</li></h5>
<h5><li>Nicole Gregory, Assistant Director: Clubs & Orgs, Club Resource Center, IGC Advisor , Training and Development, Awards Banquet. Contact: n.gregory@snhu.edu</li></h5>
<h5><li>Stacey Bissonnette, Assistant Director: Online Honor Societies. Contact: s.bissonnette@snhu.edu</li></h5>
<h5><li>Cathy Homiski, Assistant Director: SNHUconnect community, metrics. Contact: c.homiski@snhu.edu</li></h5>
<h5><li>Kadie Dickson, Assistant Director: CAPE Advisor, SNHUtickets, Student Center Operations, Commuters. Contact: k.dickson@snhu.edu</li></h5>
<h5><li>Lindsey Acampora, Coordinator: Online Clubs, assistance with large campus events. Contact: l.acampora@snhu.edu</li></h5>
<h5><li>Lucas Frazier, Graduate Assistant: Late Night Breakfast, Co-Advise CAPE, Monthly Calendars. Contact: lucas.frazier@snhu.edu</li></h5>
<h5><li>Jay Carey, Coordinator: Online Clubs, Night and Weekend Online Event Support. Contact: j.carey@snhu.edu</li></h5>
<h5><li>Tarnya Annis, SGA Business Manager: All things money for SGA! Contact: t.annis@snhu.edu</li></h5>
<h5><li>Vicky Plimpton, Senior Office Manager: SUVs, Driver Checks, Rosters and general helpfulness. Contact: v.plimpton@snhu.edu</li></h5>
