@import "src/styles";

.adminPageTitleMargin {
  margin-bottom: 20px;
}

.SNHULogoAdminPage {
  width: 300px;
  height: auto;
}

.adminPagePadding {
  padding: 1px;
}

.adminInputWidth {
  width: 50%;
  height: auto;
}

.adminInputWidthMobile {
  width: 80%;
  height: auto;
}

.largeTextField {
  height: 125px;
}


//File Upload
.adminImageUpload::ng-deep {
  .p-fileupload {
    width: 50%;
    margin: 0 auto;
  }


  .p-fileupload .p-fileupload-buttonbar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
  }

  .p-fileupload .p-fileupload-content {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.adminImageUploadMobile::ng-deep {
  .p-fileupload {
    width: 80%;
    margin: 0 auto;
  }

  .p-fileupload .p-fileupload-buttonbar .p-button {
    margin: 5px;
  }

  .p-fileupload .p-fileupload-buttonbar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .p-fileupload .p-fileupload-content {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

//Dropdown input
.adminDropdown::ng-deep {
  .p-dropdown {
    width: 50%;
    text-align: left;
  }
}

.adminDropdownMobile::ng-deep {
  .p-dropdown {
    text-align: center;
    width: 80%;
  }
}

::ng-deep .clubFilter.p-dropdown .p-dropdown-panel {
  max-width: 100%;
}
