<div class="blueTitleBar text-center adminPagePadding">
  <img class="SNHULogoAdminPage adminPageTitleMargin" src="assets/SNHU-Logo-White.png" alt="Southern New Hampshire University Logo">
  <h1 class="yellow-text adminPageTitleMargin">Admin Page</h1>
</div>

<ng-container *ngIf="isUserAdmin === false; else UserIsAdmin">
  <h1 class="text-center">You must be an <b>Administrator</b> to view this page!</h1>
</ng-container>

<ng-template #UserIsAdmin>
  <div class="container adminContainer">
    <p-tabView [scrollable]="true">

      <p-tabPanel header="Announcements">
        <h1 class="text-center blueHeaders adminPageTitleMargin">OSI Announcements</h1>
        <form [formGroup]="osiAnnouncementForm">
          <div class="osiAnnouncements">
            <div class="form-group">
              <input class="form-control formInputs" [ngClass]="{'adminInputWidth': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminInputWidthMobile': responsiveService.deviceMobile()}" type="text" placeholder="Title" formControlName="announcementTitle">
            </div>
            <div class="form-group">
              <input class="form-control formInputs dateInputLabel" [ngClass]="{'adminInputWidth': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminInputWidthMobile': responsiveService.deviceMobile()}" type="date" placeholder="Expires On: &nbsp;" formControlName="expiresOn">
            </div>
            <div class="form-group">
              <textarea class="form-control formInputs largeTextField" [ngClass]="{'adminInputWidth': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminInputWidthMobile': responsiveService.deviceMobile()}" placeholder="Announcement Content" formControlName="contentOfAnnouncement"></textarea>
            </div>
            <div class="text-center">
              <button class="form-submit-button yellowButton" type="submit" [disabled]="isOSIAnnouncementValid()" (click)="createOSIAnnouncementSubmit()">Create Announcement</button>
            </div>
          </div>
        </form>
      </p-tabPanel>

      <p-tabPanel header="Add Club">
        <h1 class="text-center blueHeaders adminPageTitleMargin">Create Club</h1>
        <form [formGroup]="createClubForm">
          <div class="form-group ">
            <input class="form-control formInputs" [ngClass]="{'adminInputWidth': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminInputWidthMobile': responsiveService.deviceMobile()}" type="text" placeholder="Club Name" formControlName="clubName">
          </div>
          <div class="form-group ">
            <input class="form-control formInputs" [ngClass]="{'adminInputWidth': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminInputWidthMobile': responsiveService.deviceMobile()}" type="text" placeholder="Club Affiliation" formControlName="clubAffiliation">
          </div>
          <div class="form-group ">
            <textarea class="form-control formInputs largeTextField" [ngClass]="{'adminInputWidth': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminInputWidthMobile': responsiveService.deviceMobile()}" placeholder="Club Biography" formControlName="clubBio"></textarea>
          </div>
          <div class="form-group ">
            <textarea class="form-control formInputs largeTextField" [ngClass]="{'adminInputWidth': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminInputWidthMobile': responsiveService.deviceMobile()}" type="text" placeholder="Club Mission" formControlName="clubMission"></textarea>
          </div>
          <div class="form-group ">
            <textarea class="form-control formInputs largeTextField" [ngClass]="{'adminInputWidth': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminInputWidthMobile': responsiveService.deviceMobile()}" type="text" placeholder="Club Vision" formControlName="clubVision"></textarea>
          </div>
          <div class="form-group ">
            <textarea class="form-control formInputs largeTextField" [ngClass]="{'adminInputWidth': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminInputWidthMobile': responsiveService.deviceMobile()}" type="text" placeholder="Club Values" formControlName="clubValues"></textarea>
          </div>
          <div class="form-group ">
            <div class="text-center">
              <p-dropdown [ngClass]="{'adminDropdown': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminDropdownMobile': responsiveService.deviceMobile()}" [required]="true" [options]="advisorList" [formControl]="createClubAdvisorID" [filter]="true" [autoDisplayFirst]="false" optionValue="studentID" optionLabel="email" placeholder="Select Advisor" class="dropdownLength" styleClass="clubFilter" [style]="{'border':'2px solid #0667B3', 'border-radius':'10px'}"></p-dropdown>
            </div>
          </div>
          <div class="form-group ">
            <p-fileUpload [ngClass]="{'adminImageUpload': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminImageUploadMobile': responsiveService.deviceMobile()}" name="myfile[]" [customUpload]="true" (uploadHandler)= "onUpload($event)"></p-fileUpload>
          </div>
          <div class="text-center">
            <button class="yellowButton form-submit-button" type="submit" [disabled]="isCreateClubValid()" (click)="createClubSubmit()">Add club</button>
          </div>
        </form>
      </p-tabPanel>

      <p-tabPanel header="Delete Club">
        <h1 class="text-center blueHeaders adminPageTitleMargin">Delete Club</h1>
        <form [formGroup]="deleteClubForm">
          <div class="assignAdvisor">
            <div class="form-group text-center">
              <p-dropdown [ngClass]="{'adminDropdown': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminDropdownMobile': responsiveService.deviceMobile()}" [options]="clubNames" [formControl]="removeClubID" [required]="true" optionValue="clubID" optionLabel="clubName" [filter]="true" [autoDisplayFirst]="false" placeholder="Search Club" class="dropdownLength" [style]="{'border':'2px solid #0667B3', 'border-radius':'10px'}"></p-dropdown>
            </div>
            <div class="text-center">
              <button class="form-submit-button yellowButton" type="submit" [disabled]="isDeleteClubValid()" (click)="deleteClubSubmit()">Delete Club</button>
            </div>
          </div>
        </form>
      </p-tabPanel>

      <p-tabPanel header="Add User">
        <h1 class="text-center blueHeaders">Create User</h1>
        <form [formGroup]="createUserForm">
          <div class="form-group">
            <input class="form-control formInputs" [ngClass]="{'adminInputWidth': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminInputWidthMobile': responsiveService.deviceMobile()}" type="text" placeholder="First Name" formControlName="firstName">
          </div>
          <div class="form-group">
            <input class="form-control formInputs" [ngClass]="{'adminInputWidth': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminInputWidthMobile': responsiveService.deviceMobile()}" type="text" placeholder="Last Name" formControlName="lastName">
          </div>
          <div class="form-group">
            <input class="form-control formInputs" [ngClass]="{'adminInputWidth': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminInputWidthMobile': responsiveService.deviceMobile()}" type="text" placeholder="Email" email formControlName="email">
          </div>
          <div class="form-group text-center">
            <p-dropdown appendTo="body" [ngClass]="{'adminDropdown': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminDropdownMobile': responsiveService.deviceMobile()}" [options]="yearNames" [required]="true" [formControl]="yearNameFC" optionValue="yearName" optionLabel="yearName" [autoDisplayFirst]="false" placeholder="Select Year..." class="dropdownLength" [style]="{'border':'2px solid #0667B3', 'border-radius':'10px'}"></p-dropdown>
          </div>
          <div class="form-group">
            <input class="form-control formInputs" [ngClass]="{'adminInputWidth': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminInputWidthMobile': responsiveService.deviceMobile()}" type="text" placeholder="Pronouns" formControlName="pronouns">
          </div>
          <div class="form-group">
            <input class="form-control formInputs" [ngClass]="{'adminInputWidth': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminInputWidthMobile': responsiveService.deviceMobile()}" type="password" placeholder="Password" formControlName="password">
          </div>
          <div class="text-center">
            <button class="yellowButton form-submit-button" type="submit" [disabled]="isCreateUserValid()" (click)="createUserSubmit()">Add User</button>
          </div>
        </form>
      </p-tabPanel>

      <p-tabPanel header="Delete User">
        <h1 class="text-center blueHeaders adminPageTitleMargin">Delete User</h1>
        <form [formGroup]="deleteUserForm">
          <div class="assignAdvisor">
            <div class="form-group text-center">
              <p-dropdown [ngClass]="{'adminDropdown': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminDropdownMobile': responsiveService.deviceMobile()}" [options]="userList" [formControl]="deleteUserID" [required]="true" optionValue="studentID" optionLabel="email" [filter]="true" [autoDisplayFirst]="false" placeholder="Search email" class="dropdownLength" [style]="{'border':'2px solid #0667B3', 'border-radius':'10px'}"></p-dropdown>
            </div>
            <div class="text-center">
              <button class="form-submit-button yellowButton" type="submit" [disabled]="isDeleteUserValid()" (click)="deleteUserSubmit()">Delete User</button>
            </div>
          </div>
        </form>
      </p-tabPanel>

      <p-tabPanel header="Add E-Board Member">
        <h1 class="text-center blueHeaders adminPageTitleMargin">Assign EBoard Member</h1>
        <form [formGroup]="addEBoardForm">
          <div class="text-center">
            <div class="form-group">
              <p-dropdown [ngClass]="{'adminDropdown': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminDropdownMobile': responsiveService.deviceMobile()}" [options]="clubNames" [formControl]="addEBoardClubID" [filter]="true" [required]="true" [autoDisplayFirst]="false" optionValue="clubID" optionLabel="clubName" placeholder="Select Club" class="dropdownLength" [style]="{'border':'2px solid #0667B3', 'border-radius':'10px'}"></p-dropdown>
            </div>
            <div class="form-group">
              <p-dropdown [ngClass]="{'adminDropdown': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminDropdownMobile': responsiveService.deviceMobile()}" [options]="nonEboardList" [formControl]="nonEboardID" [filter]="true" [required]="true" [autoDisplayFirst]="false" optionValue="studentID" optionLabel="email" placeholder="Select User" class="dropdownLength" [style]="{'border':'2px solid #0667B3', 'border-radius':'10px'}"></p-dropdown>
            </div>
            <div class="form-group">
              <input class="form-control formInputs" [ngClass]="{'adminInputWidth': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminInputWidthMobile': responsiveService.deviceMobile()}" type="text" placeholder="EBoard Position" formControlName="role">
            </div>
            <div class="centerButton">
              <button class="form-submit-button yellowButton" type="submit" [disabled]="isAssignEboardValid()" (click)="addEBoardSubmit()">Assign EBoard</button>
            </div>
          </div>
        </form>
      </p-tabPanel>

      <p-tabPanel header="Remove E-Board Member">
        <h1 class="text-center blueHeaders adminPageTitleMargin">Remove EBoard Member</h1>
        <form [formGroup]="removeEBoardForm">
          <div class="text-center">
            <div class="form-group">
              <p-dropdown [ngClass]="{'adminDropdown': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminDropdownMobile': responsiveService.deviceMobile()}" [options]="clubNames" [formControl]="removeEBoardClubID" [filter]="true" [autoDisplayFirst]="false" [required]="true" [ngModel]="selectedClub" (onChange)="checkClubSelected()"  optionValue="clubID" optionLabel="clubName" placeholder="Select Club" class="dropdownLength" [style]="{'border':'2px solid #0667B3', 'border-radius':'10px'}"></p-dropdown>
            </div>
            <div class="form-group">
              <p-dropdown [ngClass]="{'adminDropdown': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminDropdownMobile': responsiveService.deviceMobile()}" [options]="clubEboard" [formControl]="eboardID" [filter]="true" [autoDisplayFirst]="false" [required]="true" [disabled]="disableUserDropdown" optionValue="studentID" optionLabel="firstName"  placeholder="Select User" class="dropdownLength" [style]="{'border':'2px solid #0667B3', 'border-radius':'10px'}"></p-dropdown>
            </div>
            <div class="text-center">
              <button class="form-submit-button yellowButton" type="submit" [disabled]="isRemoveEboardValid()" (click)="removeEBoardSubmit()">Remove EBoard</button>
            </div>
          </div>
        </form>
      </p-tabPanel>
      <p-tabPanel header="Assign Advisor">
        <h1 class="text-center blueHeaders adminPageTitleMargin">Assign Advisor</h1>
        <form [formGroup]="assignAdvisorForm">
          <div class="text-center">
            <div class="form-group">
              <p-dropdown [ngClass]="{'adminDropdown': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminDropdownMobile': responsiveService.deviceMobile()}" [options]="clubNames" [formControl]="assignAdvisorClubID" [filter]="true" [autoDisplayFirst]="false" optionValue="clubID" optionLabel="clubName" placeholder="Select Club" class="dropdownLength" [style]="{'border':'2px solid #0667B3', 'border-radius':'10px'}"></p-dropdown>
            </div>
            <div class="form-group">
              <p-dropdown [ngClass]="{'adminDropdown': responsiveService.deviceDesktop() || responsiveService.deviceTablet(), 'adminDropdownMobile': responsiveService.deviceMobile()}" [options]="advisorList" [formControl]="advisorID" [filter]="true" [autoDisplayFirst]="false" optionValue="studentID" optionLabel="email" placeholder="Select User" class="dropdownLength" [style]="{'border':'2px solid #0667B3', 'border-radius':'10px'}"></p-dropdown>
            </div>
            <div class="text-center">
              <button class="form-submit-button yellowButton" type="submit" [disabled]="isAssignAdvisorValid()" (click)="assignAdvisorSubmit()">Assign Advisor</button>
            </div>
          </div>
        </form>
      </p-tabPanel>
    </p-tabView>
  </div>
</ng-template>
