<div class="leftAdminDiv">
  <div *ngIf="createClubMessage === true" class="alert alert-success alert-dismissible fade show clubCreationAlerts" role="alert">
    <p>Club creation successful!</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div *ngIf="createClubFailed === true" class="alert alert-danger alert-dismissible fade show clubCreationAlerts" role="alert">
    <p>Club creation unsuccessful</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="createClubDiv">
    <h1 class="dialogTitle">Create Club</h1>
    <form [formGroup]="createClubForm">
      <div class="leftDiv">
        <div class="form-group createClubInputs">
          <input class="form-control formInputs" type="text" placeholder="Club Name" formControlName="clubName">
          <div *ngIf="clubCreationFormInputs?.['clubName']?.invalid && (clubCreationFormInputs?.['clubName']?.dirty || clubCreationFormInputs?.['clubName']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="clubCreationFormInputs?.['clubName']?.errors?.['required']">
              Club Name is required
            </div>
          </div>
        </div>
        <div class="form-group createClubInputs">
          <input class="form-control formInputs" type="text" placeholder="Club Affiliation" formControlName="clubAffiliation">
          <div *ngIf="clubCreationFormInputs?.['clubAffiliation']?.invalid && (clubCreationFormInputs?.['clubAffiliation']?.dirty || clubCreationFormInputs?.['clubAffiliation']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="clubCreationFormInputs?.['clubAffiliation']?.errors?.['required']">
              Club Affiliation is required
            </div>
          </div>
        </div>
        <div class="form-group createClubInputs">
          <textarea class="form-control formInputs largeTextField"placeholder="Club Biography" formControlName="clubBio"></textarea>
          <div *ngIf="clubCreationFormInputs?.['clubBio']?.invalid && (clubCreationFormInputs?.['clubBio']?.dirty || clubCreationFormInputs?.['clubBio']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="clubCreationFormInputs?.['clubBio']?.errors?.['required']">
              Club Biography is required
            </div>
          </div>
        </div>
        <div class="form-group createClubInputs">
          <textarea class="form-control formInputs largeTextField" type="text" placeholder="Club Vision" formControlName="clubVision"></textarea>
          <div *ngIf="clubCreationFormInputs?.['clubVision']?.invalid && (clubCreationFormInputs?.['clubVision']?.dirty || clubCreationFormInputs?.['clubVision']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="clubCreationFormInputs?.['clubVision']?.errors?.['required']">
              Club Vision is required
            </div>
          </div>
        </div>
      </div>
      <div class="rightDiv">
        <div class="form-group createClubInputs">
          <input class="form-control formInputs" type="text" placeholder="Club Advisor" formControlName="advisorID">
          <div *ngIf="clubCreationFormInputs?.['advisorID']?.invalid && (clubCreationFormInputs?.['advisorID']?.dirty || clubCreationFormInputs?.['advisorID']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="clubCreationFormInputs?.['advisorID']?.errors?.['required']">
              Club Advisor is required
            </div>
          </div>
        </div>
        <div class="form-group createClubInputs">
          <input class="form-control formInputs" type="text" placeholder="Club Logo" formControlName="clubLogo">

                    <div *ngIf="clubCreationFormInputs?.['clubLogo']?.invalid && (clubCreationFormInputs?.['clubLogo']?.dirty || clubCreationFormInputs?.['clubLogo']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="clubCreationFormInputs?.['clubLogo']?.errors?.['required']">
              Club Logo is required
            </div>
          </div>
        </div>
        <div class="form-group createClubInputs">
          <textarea class="form-control formInputs largeTextField" type="text" placeholder="Club Mission" formControlName="clubMission"></textarea>
          <div *ngIf="clubCreationFormInputs?.['clubMission']?.invalid && (clubCreationFormInputs?.['clubMission']?.dirty || clubCreationFormInputs?.['clubMission']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="clubCreationFormInputs?.['clubMission']?.errors?.['required']">
              Club Mission is required
            </div>
          </div>
        </div>
        <div class="form-group createClubInputs">
          <textarea class="form-control formInputs largeTextField" type="text" placeholder="Club Values" formControlName="clubValues"></textarea>
          <div *ngIf="clubCreationFormInputs?.['clubValues']?.invalid && (clubCreationFormInputs?.['clubValues']?.dirty || clubCreationFormInputs?.['clubValues']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="clubCreationFormInputs?.['clubValues']?.errors?.['required']">
              Club Value is required
            </div>
          </div>
        </div>
      </div>
      <div class="centerButton">
        <button class="blueButton form-submit-button" type="submit" [disabled]="isCreateClubValid()" (click)="createClubSubmit()">Submit club</button>
      </div>
    </form>
  </div>
  <div *ngIf="assignEboardSuccess === true" class="alert alert-success alert-dismissible fade show clubCreationAlerts" role="alert">
    <p>Member assigned successfully!</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div *ngIf="assignEboardFailed === true" class="alert alert-danger alert-dismissible fade show clubCreationAlerts" role="alert">
    <p>Error assigning Eboard member.</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="addEBoardDiv">
    <h1 class="dialogTitle">Assign EBoard Member</h1>
    <form [formGroup]="addEBoardForm">
      <div class="addEBoard">
        <div class="form-group">
          <p-dropdown [options]="clubNames" [formControl]="addEBoardClubID" [filter]="true" [autoDisplayFirst]="false" optionValue="clubID" optionLabel="clubName" placeholder="Select Club" class="dropdownLength" [style]="{'width':'400px', 'height':'50px', 'border':'2px solid #0667B3', 'border-radius':'10px'}"></p-dropdown>
          <div *ngIf="addEBoardFormInputs?.['clubName']?.invalid && (addEBoardFormInputs?.['clubName']?.dirty || addEBoardFormInputs?.['clubName']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="addEBoardFormInputs?.['clubName']?.errors?.['required']">
              Club Name is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <p-dropdown [options]="nonEboardList" [formControl]="nonEboardID" [filter]="true" [autoDisplayFirst]="false" optionValue="studentID" optionLabel="email" placeholder="Select User" class="dropdownLength" [style]="{'width':'400px', 'height':'50px', 'border':'2px solid #0667B3', 'border-radius':'10px'}"></p-dropdown>
          <div *ngIf="addEBoardFormInputs?.['email']?.invalid && (addEBoardFormInputs?.['email']?.dirty || addEBoardFormInputs?.['email']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="addEBoardFormInputs?.['email']?.errors?.['required']">
              User email is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <input class="form-control formInputs" type="text" placeholder="EBoard Position" formControlName="role">
          <div *ngIf="addEBoardFormInputs?.['role']?.invalid && (addEBoardFormInputs?.['role']?.dirty || addEBoardFormInputs?.['role']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="addEBoardFormInputs?.['role']?.errors?.['required']">
              EBoard position is required
            </div>
          </div>
        </div>
        <div class="centerButton">
          <button class="form-submit-button blueButton" type="submit" [disabled]="isAssignEboardValid()" (click)="addEBoardSubmit()">Assign EBoard</button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="removeEboardSuccess === true" class="alert alert-success alert-dismissible fade show clubCreationAlerts" role="alert">
    <p>Member removed successfully!</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div *ngIf="removeEboardFailed === true" class="alert alert-danger alert-dismissible fade show clubCreationAlerts" role="alert">
    <p>Error removing Eboard member.</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="removeEBoardDiv">
    <h1 class="dialogTitle">Remove EBoard Member</h1>
    <form [formGroup]="removeEBoardForm">
      <div class="removeEBoard">
        <div class="form-group">
          <p-dropdown [options]="clubNames" [formControl]="removeEBoardClubID" [filter]="true" [autoDisplayFirst]="false" [ngModel]="selectedClub" (onChange)="checkClubSelected()"  optionValue="clubID" optionLabel="clubName" placeholder="Select Club" class="dropdownLength" [style]="{'width':'400px', 'height':'50px', 'border':'2px solid #0667B3', 'border-radius':'10px'}"></p-dropdown>
          <div *ngIf="removeEBoardFormInputs?.['clubName']?.invalid && (removeEBoardFormInputs?.['clubName']?.dirty || removeEBoardFormInputs?.['clubName']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="removeEBoardFormInputs?.['clubName']?.errors?.['required']">
              Club Name is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <p-dropdown [options]="clubEboard" [formControl]="eboardID" [filter]="true" [autoDisplayFirst]="false" [disabled]="disableUserDropdown" optionValue="studentID" optionLabel="firstName"  placeholder="Select User" class="dropdownLength" [style]="{'width':'400px', 'height':'50px', 'border':'2px solid #0667B3', 'border-radius':'10px'}"></p-dropdown>
          <div *ngIf="removeEBoardFormInputs?.['userID']?.invalid && (removeEBoardFormInputs?.['userID']?.dirty || removeEBoardFormInputs?.['userID']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="removeEBoardFormInputs?.['userID']?.errors?.['required']">
              User email is required
            </div>
          </div>
        </div>
        <div class="centerButton">
          <button class="form-submit-button blueButton" type="submit" [disabled]="isRemoveEboardValid()" (click)="removeEBoardSubmit()">Remove EBoard</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="rightAdminDiv">
  <div *ngIf="createUserSuccess === true" class="alert alert-success alert-dismissible fade show clubCreationAlerts" role="alert">
    <p>User created successfully!</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div *ngIf="createUserFailed === true" class="alert alert-danger alert-dismissible fade show clubCreationAlerts" role="alert">
    <p>Error creating user.</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="createUserDiv">
    <h1 class="dialogTitle">Create User</h1>
    <form [formGroup]="createUserForm">
      <div class="leftDiv">
        <div class="form-group">
          <input class="form-control formInputs" type="text" placeholder="First Name" formControlName="firstName">
          <div *ngIf="createUserFormInputs?.['firstName']?.invalid && (createUserFormInputs?.['firstName']?.dirty || createUserFormInputs?.['firstName']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="createUserFormInputs?.['firstName']?.errors?.['required']">
              First name is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <input class="form-control formInputs" type="text" placeholder="Last Name" formControlName="lastName">
          <div *ngIf="createUserFormInputs?.['lastName']?.invalid && (createUserFormInputs?.['lastName']?.dirty || createUserFormInputs?.['lastName']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="createUserFormInputs?.['lastName']?.errors?.['required']">
              Last name is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <input class="form-control formInputs" type="text" placeholder="Email" email formControlName="email">
          <div *ngIf="createUserFormInputs?.['email']?.invalid && (createUserFormInputs?.['email']?.dirty || createUserFormInputs?.['email']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="createUserFormInputs?.['email']?.errors?.['required']">
              Email is required
            </div>
            <div *ngIf="createUserFormInputs?.['email']?.errors?.['email']">
              Email must be a valid email
            </div>
          </div>
        </div>
      </div>
      <div class="rightDiv">
        <div class="form-group">
          <select class="form-control formInputs" name="year" formControlName="year">
            <option ngValue="null" [selected]="true" [disabled]="true" [hidden]="true">Select Your Year...</option>
            <option value="Freshman">Freshman</option>
            <option value="Sophomore">Sophomore</option>
            <option value="Junior">Junior</option>
            <option value="Senior">Senior</option>
            <option value="Faculty">Faculty</option>
          </select>
          <div *ngIf="createUserFormInputs?.['year']?.invalid && (createUserFormInputs?.['year']?.dirty || createUserFormInputs?.['year']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="createUserFormInputs?.['year']?.errors?.['required']">
              Year is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <input class="form-control formInputs" type="text" placeholder="Pronouns" formControlName="pronouns">
          <div *ngIf="createUserFormInputs?.['pronouns']?.invalid && (createUserFormInputs?.['pronouns']?.dirty || createUserFormInputs?.['pronouns']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="createUserFormInputs?.['pronouns']?.errors?.['required']">
              Pronouns are required
            </div>
          </div>
        </div>
        <div class="form-group">
          <input class="form-control formInputs" type="password" placeholder="Password" formControlName="password">
          <div *ngIf="createUserFormInputs?.['password']?.invalid && (createUserFormInputs?.['password']?.dirty || createUserFormInputs?.['password']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="createUserFormInputs?.['password']?.errors?.['required']">
              Password is required
            </div>
            <div *ngIf="createUserFormInputs?.['password']?.errors?.['minLength']">
              Password must be at least 8 characters
            </div>
          </div>
        </div>
      </div>
      <div class="centerButton">
        <button class="blueButton form-submit-button" type="submit" [disabled]="isCreateUserValid()" (click)="createUserSubmit()">Create User</button>
      </div>
    </form>
  </div>
  <div *ngIf="deleteUserSuccess === true" class="alert alert-success alert-dismissible fade show clubCreationAlerts" role="alert">
    <p>User deleted successfully!</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div *ngIf="deleteUserFailed === true" class="alert alert-danger alert-dismissible fade show clubCreationAlerts" role="alert">
    <p>Error deleting user.</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="deleteUserDiv">
    <h1 class="dialogTitle">Delete User</h1>
    <form [formGroup]="deleteUserForm">
      <div class="assignAdvisor">
        <div class="form-group">
          <p-dropdown [options]="userList" [formControl]="deleteUserID" optionValue="studentID" optionLabel="email" [filter]="true" [autoDisplayFirst]="false" placeholder="Search email" class="dropdownLength" [style]="{'width':'400px', 'height':'50px', 'border':'2px solid #0667B3', 'border-radius':'10px'}"></p-dropdown>
          <div *ngIf="deleteUserFormInputs?.['email']?.invalid && (deleteUserFormInputs?.['email']?.dirty || deleteUserFormInputs?.['email']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="deleteUserFormInputs?.['email']?.errors?.['required']">
              Email is required
            </div>
          </div>
        </div>
        <div class="centerButton">
          <button class="form-submit-button blueButton" type="submit" [disabled]="isDeleteUserValid()" (click)="deleteUserSubmit()">Delete User</button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="assignAdvisorSuccess === true" class="alert alert-success alert-dismissible fade show clubCreationAlerts" role="alert">
    <p>Advisor assigned successfully!</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div *ngIf="assignAdvisorFailed === true" class="alert alert-danger alert-dismissible fade show clubCreationAlerts" role="alert">
    <p>Error assigning advisor.</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="assignAdvisorDiv">
    <h1 class="dialogTitle">Assign Advisor</h1>
    <form [formGroup]="assignAdvisorForm">
      <div class="assignAdvisor">
        <div class="form-group">
          <p-dropdown [options]="clubNames" [formControl]="assignAdvisorClubID" [filter]="true" [autoDisplayFirst]="false" optionValue="clubID" optionLabel="clubName" placeholder="Select Club" class="dropdownLength" [style]="{'width':'400px', 'height':'50px', 'border':'2px solid #0667B3', 'border-radius':'10px'}"></p-dropdown>
          <div *ngIf="assignAdvisorFormInputs?.['clubName']?.invalid && (assignAdvisorFormInputs?.['clubName']?.dirty || assignAdvisorFormInputs?.['clubName']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="assignAdvisorFormInputs?.['clubName']?.errors?.['required']">
              Club Name is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <p-dropdown [options]="nonAdvisorList" [formControl]="nonAdvisorID" [filter]="true" [autoDisplayFirst]="false" optionValue="studentID" optionLabel="email" placeholder="Select User" class="dropdownLength" [style]="{'width':'400px', 'height':'50px', 'border':'2px solid #0667B3', 'border-radius':'10px'}"></p-dropdown>
          <div *ngIf="assignAdvisorFormInputs?.['email']?.invalid && (assignAdvisorFormInputs?.['email']?.dirty || assignAdvisorFormInputs?.['email']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="assignAdvisorFormInputs?.['email']?.errors?.['required']">
              Advisor email is required
            </div>
          </div>
        </div>
        <div class="centerButton">
          <button class="form-submit-button blueButton" type="submit" [disabled]="isAssignAdvisorValid()" (click)="assignAdvisorSubmit()">Assign Advisor</button>
        </div>
      </div>
    </form>
  </div>
  <div class="osiAnnouncementsDiv">
    <h1 class="dialogTitle">OSI Announcements</h1>
    <form [formGroup]="osiAnnouncementForm">
      <div class="osiAnnouncements">
        <div class="form-group">
          <input class="form-control formInputs" type="text" placeholder="Title" formControlName="announcementTitle">
          <div *ngIf="osiAnnouncementFormInputs?.['announcementTitle']?.invalid && (osiAnnouncementFormInputs?.['announcementTitle']?.dirty || osiAnnouncementFormInputs?.['announcementTitle']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="osiAnnouncementFormInputs?.['announcementTitle']?.errors?.['required']">
              Announcement Title is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <input class="form-control formInputs dateInputLabel" type="date" placeholder="Expiration Date: &nbsp;" formControlName="expiresOn">
          <div *ngIf="osiAnnouncementFormInputs?.['expiresOn']?.invalid && (osiAnnouncementFormInputs?.['expiresOn']?.dirty || osiAnnouncementFormInputs?.['expiresOn']?.touched)" class="leftAlert alert-danger">
            <div *ngIf="osiAnnouncementFormInputs?.['expiresOn']?.errors?.['required']">
              Expiration Date is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea class="form-control formInputs largeTextField"placeholder="Announcement Content" formControlName="contentOfAnnouncement"></textarea>
          <div *ngIf="osiAnnouncementFormInputs?.['contentOfAnnouncement']?.invalid && (osiAnnouncementFormInputs?.['contentOfAnnouncement']?.dirty || osiAnnouncementFormInputs?.['contentOfAnnouncement']?.touched)" class="requiredAlert alert-danger">
            <div *ngIf="osiAnnouncementFormInputs?.['contentOfAnnouncement']?.errors?.['required']">
              Announcement content is required
            </div>
          </div>
        </div>
        <div class="centerButton">
          <button class="form-submit-button blueButton" type="submit" (click)="createOSIAnnouncementSubmit()">Create Announcement</button>
        </div>
      </div>
    </form>
  </div>
</div>
