/* You can add global styles to this file, and also import other style files */
html {
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}
.blueButton {
  background-color: #0667B3;
  border: none;
  border-radius: 14px;
  height: 40px;
  padding: 0 20px;
  margin: 10px;
  color: white;
}

.blueButton:hover {
  background-color: #3b88c4;
}
