@import "src/styles";

.eboardPageTitleMargin {
  margin-bottom: 20px;
}

.eboardPagePadding {
  padding: 1px;
}

.captionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageResize {
  width: 150px;
  height: auto;
}

::ng-deep {

  .eboardTables.p-datatable-scrollable .p-datatable-thead>tr>th, .p-datatable-scrollable .p-datatable-tbody>tr>td, .p-datatable-scrollable .p-datatable-tfoot>tr>td {
    min-width: 175px;
    justify-content: center;
    text-align: center;
    overflow-wrap: anywhere;
  }

  .eboardTables.p-datatable {
    margin-bottom: 30px;
  }

  .eboardTables.p-datatable .p-paginator-bottom {
    margin-top: 15px;
  }
}

.hyperText {
  color: #0a58ca !important;
  cursor: pointer;
}

.eboardDialogs {
  padding: 20px;
}

//Dropdown input
.eboardDropdown::ng-deep {
  .p-dropdown {
    width: 50%;
    text-align: center;
  }
}

.eboardDropdownMobile::ng-deep {
  .p-dropdown {
    text-align: center;
    width: 80%;
  }
}

.eboardInputWidth {
  width: 50%;
  text-align: center;
}

.eboardInputWidthMobile {
  width: 80%;
  text-align: center;
}

.updateClubLogoContainer {
  border: 1px solid black;
  background-color: #f4f4f4;
  margin-bottom: 40px;
}

.blueBar {
  background-color: $HeritageBlue;
  width: 50%;
  margin: 0 auto;
  padding: 5px;
}

.importantText {
  margin-bottom: 0 !important;
}

.largeTextField {
  height: 125px;
}

.leftAlignSearch {
  margin: 0 !important;
}

.eBoardInputWidth {
  width: 50%;
}

.eBoardInputWidthMobile {
  width: 80%;
}

.editTextFlex {
  display: flex;
  flex-direction: row;
}

.editMargin {
  margin-left: 30px;
}
