.eboardPageTitleMargin {
  margin-bottom: 20px;
}

.eboardPagePadding {
  padding: 1px;
}

.captionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::ng-deep {
  .eboardTables.p-datatable-scrollable .p-datatable-thead>tr>th, .p-datatable-scrollable .p-datatable-tbody>tr>td, .p-datatable-scrollable .p-datatable-tfoot>tr>td {
    min-width: 175px;
    justify-content: center;
    text-align: center;
    overflow-wrap: anywhere;
  }

  .eboardTables.p-datatable {
    margin-bottom: 30px;
  }

  .eboardTables.p-datatable .p-paginator-bottom {
    margin-top: 15px;
  }
}

.hyperText {
  color: #0a58ca !important;
  cursor: pointer;
}

.eboardDialogs {
  padding: 20px;
}

//Dropdown input
.eboardDropdown::ng-deep {
  .p-dropdown {
    width: 50%;
    text-align: left;
  }
}

.eboardDropdownMobile::ng-deep {
  .p-dropdown {
    text-align: center;
    width: 80%;
  }
}

.eboardInputWidth {
  width: 50%;
}

.eboardInputWidthMobile {
  width: 80%;
}
