<nav class="navbar">
  <img class="SNHUlogoScale" src="assets/SNHU-Logo.png" routerLink="">
  <div class="navbar-nav mr-auto">
    <ul>
      <li routerLinkActive="active">
        <a routerLink="">Home</a>
      </li>
      <li><a>This Week</a></li>
      <li><a>Master Schedule</a></li>
      <li routerLinkActive="active">
        <a routerLink="/clubs">Clubs</a>
      </li>
    </ul>
  </div>
  <div class="buttons">
    <button class="blueButton" (click)="showSignupDialog()">Sign Up</button>
    <button class="blueButton" (click)="showLoginDialog()">Login</button>
    <img class="involveULogoScale" src="assets/involveU-Logo-White-Text.png">
  </div>
</nav>
<main class="router">
  <router-outlet></router-outlet>
</main>

<p-dialog [(visible)]="displayLoginDialog" [modal]="true" [style]="{width: '35vw'}" [dismissableMask]="true" [baseZIndex]="10000">
  <a class="ui-dialog-titlebar-icon ui-dialog-titlebar-close ui-corner-all closeButtonDialog" href="#" role="button" (click)="closeLoginDialog()">
    <span class="fa fa-fw fa-close fa-lg"></span>
  </a>
  <img class="involveUModalScale" src="assets/involveU-Logo-Black-Text.png">
  <hr class="dialogLines">
  <h1 class="dialogTitle">Welcome Back, Login to Your Account</h1>
  <form [formGroup]="loginForm">
    <div class="form-group loginInputs">
      <input class="form-control loginSignupFormInputs" type="text" placeholder="Email" formControlName="username">
      <div *ngIf="loginFormInputs?.['username']?.invalid && (loginFormInputs?.['username']?.dirty || loginFormInputs?.['username']?.touched)" class="alert alert-danger">
        <div *ngIf="loginFormInputs?.['username']?.errors?.['required']">
          Email is required
        </div>
      </div>
    </div>
    <div class="form-group loginInputs">
      <input class="form-control loginSignupFormInputs" type="password" placeholder="Password" formControlName="password">
      <div *ngIf="loginFormInputs?.['password']?.invalid && (loginFormInputs?.['password']?.dirty || loginFormInputs?.['password']?.touched)" class="alert alert-danger">
        <div *ngIf="loginFormInputs?.['password']?.errors?.['required']">
          Password is required
        </div>
      </div>
    </div>
    <button class="blueButton centerButton" type="submit" (click)="onLoginSubmit()">Login</button>
  </form>
  <hr class="dialogLines">
  <div class="bottomModal">
    <p class="text-center">Don't have an account?</p>
    <p class="text-center"><a (click)="onSignupClickFromLoginModal()">Sign up</a></p>
  </div>
  <ng-template pTemplate="footer">
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="displaySignupDialog" [modal]="true" [style]="{width: '35vw'}"  [dismissableMask]="true"  [baseZIndex]="10000">
  <a class="ui-dialog-titlebar-icon ui-dialog-titlebar-close ui-corner-all closeButtonDialog" href="#" role="button" (click)="closeSignupDialog()">
    <span class="fa fa-fw fa-close fa-lg"></span>
  </a>
  <img class="involveUModalScale" src="assets/involveU-Logo-Black-Text.png">
  <hr class="dialogLines">
  <h1 class="dialogTitle">Create an Account, Join the Fun!</h1>
  <form [formGroup]="signupForm">
    <div class="signupGrid">
      <div class="form-group">
        <input class="form-control loginSignupFormInputs" type="text" placeholder="First Name" formControlName="firstName">
        <div *ngIf="signupFormInputs?.['firstName']?.invalid && (signupFormInputs?.['firstName']?.dirty || signupFormInputs?.['firstName']?.touched)" class="alert alert-danger">
          <div *ngIf="signupFormInputs?.['firstName']?.errors?.['required']">
            First name is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <input class="form-control loginSignupFormInputs" type="text" placeholder="Last Name" formControlName="lastName">
        <div *ngIf="signupFormInputs?.['lastName']?.invalid && (signupFormInputs?.['lastName']?.dirty || signupFormInputs?.['lastName']?.touched)" class="alert alert-danger">
          <div *ngIf="signupFormInputs?.['lastName']?.errors?.['required']">
            Last name is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <input class="form-control loginSignupFormInputs" type="text" placeholder="Email" email formControlName="email">
        <div *ngIf="signupFormInputs?.['email']?.invalid && (signupFormInputs?.['email']?.dirty || signupFormInputs?.['email']?.touched)" class="alert alert-danger">
          <div *ngIf="signupFormInputs?.['email']?.errors?.['required']">
            Email is required
          </div>
          <div *ngIf="signupFormInputs?.['email']?.errors?.['email']">
            Email must be a valid email
          </div>
        </div>
      </div>
      <div class="form-group">
        <input class="form-control loginSignupFormInputs" type="password" placeholder="Password" formControlName="password">
        <div *ngIf="signupFormInputs?.['password']?.invalid && (signupFormInputs?.['password']?.dirty || signupFormInputs?.['password']?.touched)" class="alert alert-danger">
          <div *ngIf="signupFormInputs?.['password']?.errors?.['required']">
            Password is required
          </div>
          <div *ngIf="signupFormInputs?.['password']?.errors?.['minLength']">
            Password must be at least 8 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <select class="form-control loginSignupFormInputs" name="year" formControlName="year">
          <option ngValue="null" [selected]="true" [disabled]="true" [hidden]="true">Select Your Year...</option>
          <option value="Freshman">Freshman</option>
          <option value="Sophomore">Sophomore</option>
          <option value="Junior">Junior</option>
          <option value="Senior">Senior</option>
          <option value="Faculty">Faculty</option>
        </select>
        <div *ngIf="signupFormInputs?.['year']?.invalid && (signupFormInputs?.['year']?.dirty || signupFormInputs?.['year']?.touched)" class="alert alert-danger">
          <div *ngIf="signupFormInputs?.['year']?.errors?.['required']">
            Year is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <input class="form-control loginSignupFormInputs" type="text" placeholder="Pronouns" formControlName="pronouns">
        <div *ngIf="signupFormInputs?.['pronouns']?.invalid && (signupFormInputs?.['pronouns']?.dirty || signupFormInputs?.['pronouns']?.touched)" class="alert alert-danger">
          <div *ngIf="signupFormInputs?.['pronouns']?.errors?.['required']">
            Pronouns are required
          </div>
        </div>
      </div>
    </div>
    <button class="blueButton centerButton" type="submit" (click)="onSignupSubmit()">Signup</button>
  </form>
  <hr class="dialogLines">
  <div class="bottomModal">
    <p class="text-center">Already have an account?</p>
    <p class="text-center"><a (click)="onLoginClickFromSignupModal()">Sign in</a></p>
  </div>
  <ng-template pTemplate="footer">
  </ng-template>
</p-dialog>
