<div *ngIf="loggedInMessage === true" class="alert alert-success alert-dismissible fade show loginSignupAlerts" role="alert">
  <p>Successfully logged in!</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div *ngIf="loggedInFailedMessage === true" class="alert alert-danger alert-dismissible fade show loginSignupAlerts" role="alert">
  <p>Invalid username or password</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div *ngIf="signUpMessage === true" class="alert alert-success alert-dismissible fade show loginSignupAlerts" role="alert">
  <p>Signup successful!</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div *ngIf="signUpFailMessage === true" class="alert alert-danger alert-dismissible fade show loginSignupAlerts" role="alert">
  <p>Signup unsuccessful</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<nav class="navbar">
  <div class="navButtons">
    <img class="SNHUlogoScale" src="assets/SNHU-Logo.png" alt="SNHU Logo" routerLink="/home">
    <div class="specificNavButton">
      <a #rla="routerLinkActive" routerLinkActive="active" routerLink="/home" [class.active-span]="rla.isActive">Home</a>
    </div>
    <div class="specificNavButton">
      <a #sla="routerLinkActive" routerLinkActive="active"  [class.active-span]="sla.isActive">This Week</a>
    </div>
    <div class="specificNavButton">
      <a #tla="routerLinkActive" routerLinkActive="active"  [class.active-span]="tla.isActive">Master Schedule</a>
    </div>
    <div class="specificNavButton">
      <a #ula="routerLinkActive" routerLink="/clubs" routerLinkActive="active" [class.active-span]="ula.isActive">Clubs</a>
    </div>
    <div class="specificNavButton">
      <ng-template [ngIf]="this.cookie.get('isAdmin') == '1'">
        <a #vla="routerLinkActive" routerLinkActive="active" routerLink="/admin" [class.active-span]="vla.isActive" >Admin</a>
      </ng-template>
    </div>
  </div>
  <div class="buttons">
    <ng-template [ngIf]="this.cookie.get('studentID') == ''">
      <button class="blueButton" (click)="showSignupDialog()">Sign Up</button>
      <button class="blueButton" (click)="showLoginDialog()">Login</button>
    </ng-template>
    <ng-template [ngIf]="this.cookie.get('studentID') != ''">
      <img class="profileIcon" (click)="activateContextMenu(profileContextMenu, $event)" src="assets/account.svg">
    </ng-template>
    <img class="involveULogoScale" src="assets/involveU-Logo-White-Text.png">
  </div>
</nav>
<main class="router">
  <router-outlet></router-outlet>
</main>

<p-dialog [(visible)]="displayLoginDialog" [modal]="true" [style]="{width: '35vw'}" [dismissableMask]="true" [baseZIndex]="10000">
  <a class="ui-dialog-titlebar-icon ui-dialog-titlebar-close ui-corner-all closeButtonDialog" role="button" (click)="closeLoginDialog()">
    <span class="fa fa-fw fa-close fa-lg"></span>
  </a>
  <img class="involveUModalScale" src="assets/involveU-Logo-Black-Text.png">
  <hr class="dialogLines">
  <h1 class="dialogTitle">Welcome Back, Login to Your Account</h1>
  <form [formGroup]="loginForm">
    <div class="form-group loginInputs">
      <input class="form-control formInputs" type="text" placeholder="Email" formControlName="username">
      <div *ngIf="loginFormInputs?.['username']?.invalid && (loginFormInputs?.['username']?.dirty || loginFormInputs?.['username']?.touched)" class="alert alert-danger">
        <div *ngIf="loginFormInputs?.['username']?.errors?.['required']">
          Email is required
        </div>
      </div>
    </div>
    <div class="form-group loginInputs">
      <input class="form-control formInputs" type="password" placeholder="Password" formControlName="password">
      <div *ngIf="loginFormInputs?.['password']?.invalid && (loginFormInputs?.['password']?.dirty || loginFormInputs?.['password']?.touched)" class="alert alert-danger">
        <div *ngIf="loginFormInputs?.['password']?.errors?.['required']">
          Password is required
        </div>
      </div>
    </div>
    <button class="blueButton centerButton" type="submit" (click)="onLoginSubmit()">Login</button>
  </form>
  <hr class="dialogLines">
  <div class="bottomModal">
    <p class="text-center">Don't have an account?</p>
    <p class="text-center"><a (click)="onSignupClickFromLoginModal()">Sign up</a></p>
  </div>
</p-dialog>

<p-dialog [(visible)]="displaySignupDialog" [modal]="true" [style]="{width: '35vw'}"  [dismissableMask]="true"  [baseZIndex]="10000">
  <a class="ui-dialog-titlebar-icon ui-dialog-titlebar-close ui-corner-all closeButtonDialog" role="button" (click)="closeSignupDialog()">
    <span class="fa fa-fw fa-close fa-lg"></span>
  </a>
  <img class="involveUModalScale" src="assets/involveU-Logo-Black-Text.png">
  <hr class="dialogLines">
  <h1 class="dialogTitle">Create an Account, Join the Fun!</h1>
  <form [formGroup]="signupForm">
    <div class="signupGrid">
      <div class="form-group">
        <input class="form-control formInputs" type="text" placeholder="First Name" formControlName="firstName">
        <div *ngIf="signupFormInputs?.['firstName']?.invalid && (signupFormInputs?.['firstName']?.dirty || signupFormInputs?.['firstName']?.touched)" class="alert alert-danger">
          <div *ngIf="signupFormInputs?.['firstName']?.errors?.['required']">
            First name is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <input class="form-control formInputs" type="text" placeholder="Last Name" formControlName="lastName">
        <div *ngIf="signupFormInputs?.['lastName']?.invalid && (signupFormInputs?.['lastName']?.dirty || signupFormInputs?.['lastName']?.touched)" class="alert alert-danger">
          <div *ngIf="signupFormInputs?.['lastName']?.errors?.['required']">
            Last name is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <input class="form-control formInputs" type="text" placeholder="Email" email formControlName="email">
        <div *ngIf="signupFormInputs?.['email']?.invalid && (signupFormInputs?.['email']?.dirty || signupFormInputs?.['email']?.touched)" class="alert alert-danger">
          <div *ngIf="signupFormInputs?.['email']?.errors?.['required']">
            Email is required
          </div>
          <div *ngIf="signupFormInputs?.['email']?.errors?.['email']">
            Email must be a valid email
          </div>
        </div>
      </div>
      <div class="form-group">
        <input class="form-control formInputs" type="password" placeholder="Password" formControlName="password">
        <div *ngIf="signupFormInputs?.['password']?.invalid && (signupFormInputs?.['password']?.dirty || signupFormInputs?.['password']?.touched)" class="alert alert-danger">
          <div *ngIf="signupFormInputs?.['password']?.errors?.['required']">
            Password is required
          </div>
          <div *ngIf="signupFormInputs?.['password']?.errors?.['minLength']">
            Password must be at least 8 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <select class="form-control formInputs" name="year" formControlName="year">
          <option ngValue="null" [selected]="true" [disabled]="true" [hidden]="true">Select Your Year...</option>
          <option value="Freshman">Freshman</option>
          <option value="Sophomore">Sophomore</option>
          <option value="Junior">Junior</option>
          <option value="Senior">Senior</option>
          <option value="Faculty">Faculty</option>
        </select>
        <div *ngIf="signupFormInputs?.['year']?.invalid && (signupFormInputs?.['year']?.dirty || signupFormInputs?.['year']?.touched)" class="alert alert-danger">
          <div *ngIf="signupFormInputs?.['year']?.errors?.['required']">
            Year is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <input class="form-control formInputs" type="text" placeholder="Pronouns" formControlName="pronouns">
        <div *ngIf="signupFormInputs?.['pronouns']?.invalid && (signupFormInputs?.['pronouns']?.dirty || signupFormInputs?.['pronouns']?.touched)" class="alert alert-danger">
          <div *ngIf="signupFormInputs?.['pronouns']?.errors?.['required']">
            Pronouns are required
          </div>
        </div>
      </div>
    </div>
    <button class="blueButton centerButton" type="submit" (click)="onSignupSubmit()">Signup</button>
  </form>
  <hr class="dialogLines">
  <div class="bottomModal">
    <p class="text-center">Already have an account?</p>
    <p class="text-center"><a (click)="onLoginClickFromSignupModal()">Sign in</a></p>
  </div>
  <ng-template pTemplate="footer">
  </ng-template>
</p-dialog>

<p-contextMenu #profileContextMenu [model]="profileContextMenuItems"></p-contextMenu>
<p-contextMenu #adminContextMenu [model]="adminContextMenuItems"></p-contextMenu>
