@import "src/styles";

.navbar {
  background-color: $HeritageBlue;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10000;
}

li {
  display: inline;
}

ul {
  margin-top: 1rem !important;
}

.navbar a {
  padding: 15px 20px;
}

.SNHUlogoScale {
  height: auto;
  width: 140px;
  cursor: pointer;
}

.involveULogoScale {
  height: auto;
  width: 60px;
}


/*Popup modal dialog styling*/

.involveUModalScale {
  width: 200px;
  height: auto;
  display: block;
  margin: 4% auto;
}

.dialogTitle {
  font-size: 1.8em;
  text-align: center;
  font-weight: normal;
  margin-bottom: 5%;
}

.inputField {
  display: block;
  margin: auto;
}

.centerButton {
  display: block;
  margin: auto;
}

.centerButtonDiv {
  display: flex;
  justify-content: center;
}

.signupGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  justify-items: center;
  width: 80%;
  margin: 0 auto;
}

.input1 { grid-area: 1 / 1 / 2 / 2; }
.input2 { grid-area: 1 / 2 / 2 / 3; }
.input3 { grid-area: 2 / 1 / 3 / 2; }
.input4 { grid-area: 2 / 2 / 3 / 3; }
.input5 { grid-area: 3 / 1 / 4 / 2; }
.input6 { grid-area: 3 / 2 / 4 / 3; }

.bottomModal {
  margin-top: 4%;
  margin-bottom: 4%;
}

.bottomModal p {
  font-weight: 500;
  line-height: 10px;
}

.bottomModal p a {
  color: #0000EE;
  cursor: pointer;
}

:host ::ng-deep p-dialog,
:host ::ng-deep .p-dialog-mask.p-component-overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

:host ::ng-deep .p-dialog-header-icons {
  display:none!important;
}

.closeButtonDialog {
  float: right;
  color: black;
}

.loginInputs {
  display: table;
  margin: 0 auto 4%;
}

::ng-deep .p-contextmenu {
  width: 90px;
}

::ng-deep .p-contextmenu ul {
  text-align: center;
}

::ng-deep .p-contextmenu .p-menuitem-link {
  justify-content: center;
}

.profileIcon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}


.navButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.specificNavButton {
  margin-left: 10px;
  cursor: pointer;
}

.specificNavButton a {
  text-decoration: none;
  color: white;
}

.specificNavButton a:hover {
  color: $GoldenYellow;
}

::ng-deep .p-contextmenu {
  width: 120px !important;
}

.active-span {
  color: $GoldenYellow !important;
}

.navButtonsForMobile {
  display:table;
  width:100%;
  text-align: center;
  vertical-align: middle;
}

.mobileFlexSNHULogo {
  display: inline-block;
  vertical-align: middle;
  height: 1vh;
}

.mobileFlexNavButton {
  float: left;
}

.mobileFlexInvolveULogo {
  float: right
}

.dropdown-item {
  text-align: center;
  margin: 5px auto;
}

.buttonMargin {
  margin-bottom: 10px;
}

.involveUCenter {
  display: flex;
  height: 60px;
  align-items: center;
  float: right;
}


//Dropdown input
.signupDropdown::ng-deep {
  .p-dropdown {
    height: 40px;
    width: 165px;
    text-align: left;
  }
}

.signupDropdownMobile::ng-deep {
  .p-dropdown {
    text-align: center;
    width: 100px;
    height: 40px;
  }
}
