

.navbar {
  background-color: #AECDE6;
  justify-content: flex-start;
}
li {
  display: inline;
}

ul {
  margin-top: 1rem !important;
}

.navbar a {
  padding: 15px 20px;
}

.SNHUlogoScale {
  width: 150px;
  height: 43px;
}

.involveULogoScale {
  width: 67px;
  height: 59px;
  margin-left: 10px;
}

.blueButton {
  background-color: #0667B3;
  border: none;
  border-radius: 14px;
  height: 40px;
  padding: 0 20px;
  margin: 10px;
  color: white;
}

.blueButton:hover {
  background-color: #3b88c4;
}


/*Popup modal dialog styling*/

.involveUModalScale {
  width: 200px;
  height: 174px;
  display: block;
  margin: 4% auto;
}

.dialogLines {
  border-top: 2px solid black;
  margin: 2% 8%;
}

.dialogTitle {
  font-size: 1.8em;
  text-align: center;
  font-weight: normal;
}

::ng-deep .p-dialog {
  background-color: #AECDE6;
  border-radius: 20px;
}

.inputField {
  display: block;
  margin: auto;
}

.centerButton {
  display: block;
  margin: auto;
}

.signupGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  justify-items: center;
}

.input1 { grid-area: 1 / 1 / 2 / 2; }
.input2 { grid-area: 1 / 2 / 2 / 3; }
.input3 { grid-area: 2 / 1 / 3 / 2; }
.input4 { grid-area: 2 / 2 / 3 / 3; }
.input5 { grid-area: 3 / 1 / 4 / 2; }
.input6 { grid-area: 3 / 2 / 4 / 3; }
