.assignAdvisorDiv {
  display: flex;
  justify-content: center;
  min-height: 86%;
  max-height: 86%;
}

.removeAdvisorDiv {
  float: right;
  width:50%;
  min-height: 86%;
  max-height: 86%;
}

.dialogTitle {
  font-size: 4em;
  text-align: center;
  font-weight: normal;
  margin-top: 2%;
  margin-bottom: 3%;
  padding-top: 54px;
}

.assignAdvisorForm {
  display: flex;
  justify-content: center;
}
