<div>
  <h1 class="dialogTitle">Assign/Remove Advisor</h1>
  <form [formGroup]="assignAdvisorForm">
    <div class="assignAdvisorDiv">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Club Name" formControlName="clubName">
        <div *ngIf="assignAdvisorFormInputs?.['clubName']?.invalid && (assignAdvisorFormInputs?.['clubName']?.dirty || assignAdvisorFormInputs?.['clubName']?.touched)" class="leftAlert alert-danger">
          <div *ngIf="assignAdvisorFormInputs?.['clubName']?.errors?.['required']">
            Club Name is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Advisor ID" formControlName="advisorID">
        <div *ngIf="assignAdvisorFormInputs?.['advisorID']?.invalid && (assignAdvisorFormInputs?.['advisorID']?.dirty || assignAdvisorFormInputs?.['advisorID']?.touched)" class="leftAlert alert-danger">
          <div *ngIf="assignAdvisorFormInputs?.['advisorID']?.errors?.['required']">
            Advisor ID is required
          </div>
        </div>
      </div>
    </div>
    <div class="removeAdvisorDiv">
      
    </div>
  </form>
    <div>
      <button class="form-submit-button" type="submit" (click)="assignAdvisorSubmit()">Assign Advisor</button>
    </div>
</div>
