<div>
  <h1 class="dialogTitle">Assign/Remove Advisor</h1>
  <form [formGroup]="assignAdvisorForm">
    <div class="assignAdvisorDiv">
      <div class="form-group">
        <p-dropdown [options]="clubNames" [formControl]="assignAdvisorClubID" optionValue="clubID" optionLabel="clubName" placeholder="Select Club"></p-dropdown>
        <div *ngIf="assignAdvisorFormInputs?.['clubName']?.invalid && (assignAdvisorFormInputs?.['clubName']?.dirty || assignAdvisorFormInputs?.['clubName']?.touched)" class="leftAlert alert-danger">
          <div *ngIf="assignAdvisorFormInputs?.['clubName']?.errors?.['required']">
            Club Name is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Advisor ID" formControlName="advisorID">
        <div *ngIf="assignAdvisorFormInputs?.['advisorID']?.invalid && (assignAdvisorFormInputs?.['advisorID']?.dirty || assignAdvisorFormInputs?.['advisorID']?.touched)" class="leftAlert alert-danger">
          <div *ngIf="assignAdvisorFormInputs?.['advisorID']?.errors?.['required']">
            Advisor ID is required
          </div>
        </div>
      </div>
      <button class="form-submit-button" type="submit" (click)="assignAdvisorSubmit()">Assign Advisor</button>
    </div>
  </form>
  <form [formGroup]="removeAdvisorForm">
    <div class="removeAdvisorDiv">
      <div class="form-group">
        <p-dropdown [options]="clubNames" [formControl]="removeAdvisorClubID" optionValue="clubID" optionLabel="clubName" placeholder="Select Club"></p-dropdown>
        <div *ngIf="removeAdvisorFormInputs?.['clubName']?.invalid && (removeAdvisorFormInputs?.['clubName']?.dirty || removeAdvisorFormInputs?.['clubName']?.touched)" class="leftAlert alert-danger">
          <div *ngIf="removeAdvisorFormInputs?.['clubName']?.errors?.['required']">
            Club Name is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Advisor ID" formControlName="advisorID">
        <div *ngIf="removeAdvisorFormInputs?.['advisorID']?.invalid && (removeAdvisorFormInputs?.['advisorID']?.dirty || removeAdvisorFormInputs?.['advisorID']?.touched)" class="leftAlert alert-danger">
          <div *ngIf="removeAdvisorFormInputs?.['advisorID']?.errors?.['required']">
            Advisor ID is required
          </div>
        </div>
      </div>
    <button class="form-submit-button" type="submit" (click)="removeAdvisorSubmit()">Remove Advisor</button>
    </div>
  </form>
</div>
