@import "src/styles";

.div {
  margin-top: 50px;
  margin-left: 50px;
}

.profilePadding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.settings-padding {
  padding-bottom: 5px;
}

.padding-x {
  padding-top: 10px;
  padding-left: 653px;
  font-size: 1.4em;
  color: $HeritageBlue;
}

.password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* This centers the children horizontally */
}

i {
  cursor: pointer;
}

.settings-styling {
  border-radius: 2.2%;
  border: 8px solid $GoldenYellow;
}

.pronoun-label {
  margin-right: 50vh;
  font-size: 1.2em;
}

.major-label {
  padding-top: 2vh;
  margin-right: 55vh;
  font-size: 1.2em;
}

.bio-label {
  padding-top: 2vh;
  margin-right: 58vh;
  font-size: 1.2em;
}

.change-pass-button {
  padding-bottom: 2vh;
}

.password-container{
  border-radius: 3.2%;
  border: 8px solid $GoldenYellow;
}

.input-pass-container {
  padding-top: 8px;
}

.current-label {
  margin-right: 281px;
  font-size: 1.2em;
}

.new-label {
  padding-top: 3.2vh;
  margin-right: 308px;
  font-size: 1.2em;
}

.confirm-label {
  padding-top: 4vh;
  margin-right: 230px;
  font-size: 1.2em;
}

.update-password {
  padding-top: 2.5vh;
  padding-bottom: 1vh;
}

.padding-bio-input {
  padding-top: 2px;
  align-items: center;
}

.blueTitleBar {
  padding-top: 5px;
  height: 75px;
}

.layout-container {
  display: flex;
  flex-wrap: nowrap;
}

.main-content {
  padding-top: 40px;
  flex-grow: 1;
}

.club-title-padding {
  padding-left: 6vh;
  padding-bottom: 2vh;
}

.table-padding {
  padding-left: 6vh;
  width: 96%;
  padding-bottom: 3vh;
}

.table-padding-rsvp {
  padding-left: 2vh;
  width: 100%;
}

.rsvp-padding {
  padding-left: 3.8vh;
}

.sidebar-container {
  position: sticky;
  top: 71px;
  width: 420px;
  color: white;
  background-color: $HeritageBlue;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 74px); /* Ensures the sidebar extends to at least this height */
  height: auto; /* Adjusts height based on content */
  z-index: 1000;
  flex: 0 0 420px;
  max-width: 420px;
  border-right: 5px $GoldenYellow solid;
  margin: 0;
  padding: 0;
}

.settings-icon-container {
  padding-top: 3px;
  padding-left: 53vh;
  cursor: pointer;
  font-size: 2.5vh;
}

.profile-picture-container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture-container img {
  width: 165px;
  height: 165px;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
  border: 3px solid $GoldenYellow;
  display: block;
}

input[type="file"] {
  display: none;
}

.name-pronouns-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-display {
  font-size: 1.9em;
}

.p-display {
  font-size: 0.5em;
  color: lightgray;
}

.year-major-display {
  font-size: 1.45em;
}

.email-display {
  font-size: 1.2em;
  padding-bottom: 5px;
}

.bio-card {
  background-color: #1d437d; /* Or any color you prefer */
  border-radius: 3px; /* Rounded corners */
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  padding: 20px; /* Space inside the card */
  margin: 20px 0; /* Spacing outside the card */
  max-width: 400px;
  height: auto;
  width: 350px;

}

.bio-title {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.bio-card-content {
  font-size: 0.9em;
  color: white;
  line-height: 1.5;
}

.pfp {
  text-align: center;
  padding-top: 10px;
}



