@import "src/styles";


.div {
  margin-top: 50px;
  margin-left: 50px;
}

.divA {
  margin-top: 50px;
}

.accountPadding {
  padding-top: 12px;
  padding-bottom: 15px;
}

.profilePadding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.input-container {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}

.input-field {
  width: 30%;
  padding: 10px;
  outline: none;
  border-style: inset;
  border-radius: 20px;
  border-color: $HeritageBlue;
}

.input-field:focus {
  border: 2xp solid $HeritageBlue;
}

.icon {
  padding: 10px;
  color: $HeritageBlue;
  min-width: 50px;
  text-align: center;
}

.profile-picture-container {
  flex-shrink: 0; /* Don't allow the picture to shrink */
  margin-right: 2px; /* Add some spacing between the picture and account information */
}

.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}


