@import "src/styles";

.div {
  margin-top: 50px;
  margin-left: 50px;
}

.profilePadding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.settings-padding {
  padding-bottom: 5px;
}

.padding-x {
  padding-top: 10px;
  padding-left: 653px;
  font-size: 1.4em;
  color: $HeritageBlue;
}

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* This centers the children horizontally */
}


.pronoun-label {
  margin-right: 357px;
  font-size: 1.2em;
}

.major-label {
  padding-top: 10px;
  margin-right: 392px;
  font-size: 1.2em;
}

.bio-label {
  padding-top: 10px;
  margin-right: 415px;
  font-size: 1.2em;
}

.padding-bio-input {
  padding-top: 20px;
}

.blueTitleBar {
  padding-top: 5px;
  height: 75px;
}

.layout-container {
  display: flex;
  flex-wrap: nowrap;
}

.main-content {
  padding-top: 40px;
  flex-grow: 1;
}

.club-title-padding {
  padding-left: 75px;
}

::ng-deep .favoritedClubsTable {
  margin-bottom: 1.5rem !important;
  width: 90%;
  padding-left: 75px;
}

.sidebar-container {
  position: sticky; /* This will make it stick to the top of the viewport */
  top: 167px; /* Adjust this value to the height of your title bar */
  width: 450px; /* Width of the sidebar */
  color: white;
  background-color: $HeritageBlue; /* Sidebar background color */
  overflow-y: auto; /* Allows scrolling of sidebar content */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 145px); /* Full viewport height minus the top offset */
}

.settings-icon-container {
  top: 8px;
  padding-left: 420px;
  cursor: pointer;
  z-index: 1000;
}

.settings-icon-container icon {
  font-size: 30px;
  color: white !important;
}

.profile-picture-container {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-picture-container img {
  width: 165px;
  height: 165px;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
}

.profile-picture-label img {
  display: block;
  cursor: pointer;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid $GoldenYellow;
}

input[type="file"] {
  display: none;
}

.name-pronouns-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-display {
  font-size: 1.9em;
}

.p-display {
  font-size: 0.5em;
  color: lightgray;
}

.year-major-display {
  font-size: 1.45em;
}

.email-display {
  font-size: 1.2em;
}

.bio-card {
  background-color: #1d437d; /* Or any color you prefer */
  border-radius: 3px; /* Rounded corners */
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  padding: 20px; /* Space inside the card */
  margin: 20px 0; /* Spacing outside the card */
  max-width: 400px;
  height: auto;
  width: 350px;
}

.bio-title {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.bio-card-content {
  font-size: 0.9em;
  color: white;
  line-height: 1.5;
}

.pfp {
  text-align: center;
  padding-top: 10px;
}



