<ng-container *ngIf="isLoggedIn === false; else UserIsLoggedIn">
  <h1 class="text-center">You must be <b>Logged In</b> to view this page!</h1>
</ng-container>

<ng-template #UserIsLoggedIn>
<div class="blueTitleBar profilePadding">
  <div class="text-center">
    <ng-template [ngIf]="this.cookie.get('studentFName') != ''">
      <h1 class="yellow-text">{{this.currentUser.firstName}}'s Profile!</h1>
    </ng-template>
  </div>
</div>

  <ng-container>
    <div class="profileParentGridWeb">
      <div class="editProfileCard text-center">
        <h2 class="blueHeaders accountPadding">Account Information:</h2>
          <div class="input-container">
            <h4>
              <i class="fa fa-user icon"></i>
              <input class="input-field"  [disabled]="disableInputFields" value="{{this.userProfileInfo[0].firstName}} {{this.userProfileInfo[0].lastName}}" placeholder="Name" name="username">
            </h4>
          </div>
          <div class="input-container">
            <h4>
              <i class="fa fa-smile icon"></i>
              <input class="input-field" value="{{this.userProfileInfo[0].pronouns}}" (change)="updatePronouns($event)" type="text" placeholder="Pronouns" name="pnouns">
            </h4>
          </div>
          <div class="input-container">
            <h4>
              <i class="fa fa-graduation-cap icon"></i>
              <input class="input-field" type="text" placeholder="Current Year" name="currYear">
            </h4>
          </div>
          <div class="input-container">
            <h4>
              <i class="fa fa-envelope icon"></i>
              <input class="input-field" type="email" placeholder="Email" name="email">
            </h4>
          </div>
          <button id="edit" class="editProfile yellowButton" (click)="this.disableInputFields = !this.disableInputFields">Edit Profile</button>
<!--          <button class="saveInfo yellowButton" type="submit">Save</button>-->
      </div>
    </div>
  </ng-container>
</ng-template>

