<ng-container *ngIf="isLoggedIn === false; else UserIsLoggedIn">
  <h1 class="text-center">You must be <b>Logged In</b> to view this page!</h1>
</ng-container>

<ng-template #UserIsLoggedIn>
<div class="blueTitleBar profilePadding">
  <div class="text-center">
    <ng-template [ngIf]="this.cookie.get('studentFName') != ''">
      <h1 class="yellow-text">{{this.currentUser.firstName}}'s Profile!</h1>
    </ng-template>
  </div>
</div>

  <ng-container>
    <div class="pfp">
      <img *ngIf="userProfileImageUrl" [src]="userProfileImageUrl" alt="Profile Picture" class="profile-picture">
    </div>
    <div class="text-center divA profile-picture-container">
      <label for="fileInput" class="yellowButton" *ngIf="isLoggedIn">
        {{ fileInputLabel }}
      </label>
      <input type="file" id="fileInput" (change)="onFileSelected($event)" *ngIf="isLoggedIn" hidden>
      <button class="yellowButton" (click)="uploadProfilePicture()" *ngIf="isLoggedIn">Upload Image</button>
      <h2 class="blueHeaders accountPadding">Account Information:</h2>
      <div class="input-container">
        <h4>
          <i class="fa fa-user icon"></i>
          <input class="input-field p-disabled" [disabled]="disableInputFields" value="{{this.userProfileInfo.firstName}} {{this.userProfileInfo.lastName}}" placeholder="First and Last name" name="flname">
        </h4>
      </div>
      <div class="input-container">
        <h4>
          <i class="fa fa-smile icon"></i>
          <input class="input-field" [disabled]="disableInputFields" [(ngModel)]="this.userProfileInfo.pronouns" (change)="updatePronouns()" type="text" placeholder="Pronouns" name="pnouns">
        </h4>
      </div>
      <div class="input-container">
        <h4>
          <i class="fa fa-graduation-cap icon"></i>
          <input class="input-field" [disabled]="disableInputFields" [(ngModel)]="this.userProfileInfo.year" (change)="changeYear()" type="text" placeholder="Current Year" name="currYear">
        </h4>
      </div>
      <div class="input-container">
        <h4>
          <i class="fa fa-envelope icon"></i>
          <input class="input-field p-disabled" value="{{this.userProfileInfo.email}}" type="email" placeholder="Email" name="email">
        </h4>
        <h4 class="blueHeaders accountPadding">Calendar Color Settings:
          <p-colorPicker [(ngModel)]="userCalendarColor"></p-colorPicker>
        </h4>
      </div>
      <button id="edit" class="editProfile yellowButton" (click)="this.disableInputFields = !this.disableInputFields">Edit Profile</button>
      <button (click)="openViewChangePasswordDialog()" class="editProfile yellowButton">Change Password</button>

      <p-dialog header="Header" [(visible)]="viewChangePasswordDialog" [style]="{width: '50vw', height: '52vh'}" [modal]="true" [dismissableMask]="true" (onHide)="closeViewChangePasswordDialog()">
        <div class="changePasswordDialog divA">
        </div>
        <button class="blueButton">Change Password</button>
        <button class="blueButton" (click)="closeViewChangePasswordDialog()">Cancel</button>
      </p-dialog>
    </div>
  </ng-container>
</ng-template>

