<h2 class="blueHeaders">Student Center Services</h2>
<h5><li>Last Chapter Pub</li></h5>
<ul>
  <h5><li>A great programming space!</li></h5>
</ul>
<h5><li>Club Resource Center</li></h5>
<ul>
  <h5><li>A space for all clubs to hang out, host meetings, pick up mail, ask questions, and check-out supplies and resources!</li></h5>
</ul>
<h5><li>Student Center Tabling</li></h5>
<ul>
  <h5><li>The ability to book the tabling spaces in the student center for events or sign-ups.</li></h5>
</ul>
<h5><li>Copies Plus</li></h5>
<ul>
  <h5><li>Each club has a built-in copies plus budget to be used to printing flyers, posters, and materials for their club’s events and initiatives</li></h5>
</ul>
<h5><li>Club Storage</li></h5>
<ul>
  <h5><li>Each club can put items for reoccurring events in a clear plastic tote into one of our storage spaces. The boxes must be clear with a lid and be labeled on all sides.</li></h5>
</ul>
