<div class="blueTitleBar">
  <div class="logoAndName text-center">
    <img class="SNHULogoMoreInfoPage moreInfoPageTitleMargin" src="assets/SNHU-Logo-White.png" alt="Southern New Hampshire University logo with white text">
    <h1 class="yellow-text moreInfoPageTitleMargin">Getting Involved on Campus</h1>
  </div>
</div>

<div>
  <div class="moreInfoGrid" [ngClass]="{'moreInfoGridWeb' : responsiveService.deviceDesktop(), 'moreInfoGridMobileTablet' : responsiveService.deviceMobile() || responsiveService.deviceTablet()}">
      <div [ngClass]="{'importantFormsDiv' : responsiveService.deviceDesktop(), 'importantFormsDivMobileTablet' : responsiveService.deviceTablet() || responsiveService.deviceMobile()}">
        <h1 class="blueHeaders text-center">Important Forms</h1>
        <h5 class="text-center">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </h5>
      </div>
      <div [ngClass]="{'centerInfoDiv' : responsiveService.deviceDesktop()}">
        <div [ngClass]="{'welcomeText' : responsiveService.deviceDesktop(), 'welcomeTextMobileTablet' : responsiveService.deviceTablet() || responsiveService.deviceMobile()}">
          <h4 class="text-center">
            At Southern New Hampshire University, your time is about more than just earning a degree. The Office of Student Involvement provides you with opportunities for involvement and peer collaboration. From clubs to leadership organizations and honor societies, there are many ways to get involved, network, attend events and explore learning communities.
          </h4>
        </div>
        <div [ngClass]="{'contactInfoAndLocationCards' : responsiveService.deviceDesktop(), 'contactInfoAndLocationCardsMobileTablet' : responsiveService.deviceTablet() || responsiveService.deviceMobile()}">
          <div [ngClass]="{'studentCenterInfoDiv' : responsiveService.deviceDesktop(), 'studentCenterInfoDivMobileTablet' : responsiveService.deviceTablet() || responsiveService.deviceMobile()}">
            <h2 class="blueHeaders">Student Center</h2>
            <h5>Email: connect@snhu.edu</h5>
            <h5>Phone: 603.931.3559</h5>
            <h5>Hours: Monday - Friday, 8:00 am - 4:30 pm (ET)</h5>
          </div>
          <div [ngClass]="{'osiInfoDiv' : responsiveService.deviceDesktop(), 'osiInfoDivMobileTablet' : responsiveService.deviceTablet() || responsiveService.deviceMobile()}">
            <h2 class="blueHeaders">Office of Student Involvement</h2>
            <h5>Location: Student Center</h5>
            <h5>Email: involvement@snhu.edu</h5>
            <h5>Phone: 603.629.4631</h5>
            <h5>Hours: Monday - Friday, 8:00 am - 6:00 pm (ET)</h5>
          </div>
          <div [ngClass]="{'tabViewDocumentsDiv' : responsiveService.deviceDesktop(), 'tabViewDocumentsDivMobileTablet' : responsiveService.deviceTablet() || responsiveService.deviceMobile()}">
            <p-tabView [scrollable]="true" styleClass="moreInfoTabs">
              <p-tabPanel header="Intro to Clubs and Orgs">
                <h2 class="blueHeaders">Minimum Requirements for Clubs</h2>
                <h5><li>Turn in roster each semester by the deadline</li></h5>
                <h5><li>Maintain a minimum of seven active members for the entire year</li></h5>
                <h5><li>Participate in the Involvement Fair in the Fall & Spring</li></h5>
                <h5><li>Follow Budget and Finance Policies (as well as all SGA and Student Involvement Policies)</li></h5>
                <h5><li>Attend all required leadership programs</li></h5>
                <ul>
                  <h5><li>Executive Board Training</li></h5>
                  <h5><li>Fall Leadership Conference</li></h5>
                  <h5><li>Spring Leadership Transition Summit</li></h5>
                  <h5><li>Club Collaborations or any Additional Trainings</li></h5>
                </ul>
                <h5><li>Check club e-mail regularly and respond to emails in a timely manner</li></h5>
                <h5><li>Host one event per semester for all of campus</li></h5>
                <h5><li>Keep an updated Constitution on-file with the Office of Student Involvement</li></h5>
                <h2 class="blueHeaders">What happens if those are not met?</h2>
                <h5><li>If a club fails to meet expectations:</li></h5>
                <ul>
                  <h5><li>The club or organization is put on probation</li></h5>
                  <h5><li>A development plan may be put in place for the club or organization</li></h5>
                  <h5><li>The club or organization may lose recognition</li></h5>
                </ul>
                <h5><li>All clubs and organizations are reviewed at the end of each semester for completion of the minimum requirements</li></h5>
                <h5><li>If the club budget is overspent, the club’s account(s) will be frozen, and the club will be responsible for paying back the funds</li></h5>
              </p-tabPanel>

              <p-tabPanel header="OSI Staff">
                <h2 class="blueHeaders">Office of Student Involvement Staff</h2>
                <h5><li>Jay Tifone, Senior Director: SGA Advisor, SEC</li></h5>
                <h5><li>Amanda Sibel, Director: Leadership Program</li></h5>
                <h5><li>Elizabeth LaClair, Associate Director: Homecoming, Orientation, First Days, Senior Events</li></h5>
                <h5><li>Chantel Freeman, Associate Director: Online Events</li></h5>
                <h5><li>Nicole Gregory, Assistant Director: Clubs & Orgs, Club Resource Center, IGC Advisor , Training and Development, Awards Banquet</li></h5>
                <h5><li>Stacey Bissonnette, Assistant Director: Online Honor Societies</li></h5>
                <h5><li>Cathy Homiski, Assistant Director: SNHUconnect community, metrics</li></h5>
                <h5><li>Kadie Dickson, Assistant Director: CAPE Advisor, SNHUtickets, Student Center Operations, Commuters</li></h5>
                <h5><li>Lindsey Acampora, Coordinator: Online Clubs, assistance with large campus events</li></h5>
                <h5><li>Lucas Frasier, Graduate Assistant: Late Night Breakfast, Co-Advise CAPE, Monthly Calendars</li></h5>
                <h5><li>Jay Carey, Coordinator: Online Clubs, Night and Weekend Online Event Support</li></h5>
                <h5><li>Tarnya Carrier, SGA Business Manager: All things money for SGA!</li></h5>
                <h5><li>Vicky Plimpton, Senior Office Manager: SUVs, Driver Checks, Rosters and general helpfulness</li></h5>
              </p-tabPanel>

              <p-tabPanel header="Club Operations">
                <h2 class="blueHeaders">Club Operations</h2>
                <h5><li>Documents provided to Executive Boards at the start of each academic year and includes:</li></h5>
                <ul>
                  <h5><li>Office of Student Involvement Handbook</li></h5>
                  <h5><li>SGA Budget and Finance Policies</li></h5>
                  <h5><li>Financial forms</li></h5>
                  <h5><li>On-campus event planning resources (25Live guide, Last Chapter Pub policies, Green Space Guidelines)</li></h5>
                  <h5><li>Trip Planning Guide</li></h5>
                  <h5><li>Helpful documents for event planning, collaboration, etc.</li></h5>
                </ul>
                <h5><li>All documents available in <a href="https://learn.snhu.edu" target="_blank">brightspace</a>!</li></h5>
              </p-tabPanel>

              <p-tabPanel header="Student Center Services">
                <h2 class="blueHeaders">Student Center Services</h2>
                <h5><li>Last Chapter Pub</li></h5>
                <ul>
                  <h5><li>A great programming space!</li></h5>
                </ul>
                <h5><li>Club Resource Center</li></h5>
                <ul>
                  <h5><li>A space for all clubs to hang out, host meetings, pick up mail, ask questions, and check-out supplies and resources!</li></h5>
                </ul>
                <h5><li>Student Center Tabling</li></h5>
                <ul>
                  <h5><li>The ability to book the tabling spaces in the student center for events or sign-ups.</li></h5>
                </ul>
                <h5><li>Copies Plus</li></h5>
                <ul>
                  <h5><li>Each club has a built-in copies plus budget to be used to printing flyers, posters, and materials for their club’s events and initiatives</li></h5>
                </ul>
                <h5><li>Club Storage</li></h5>
                <ul>
                  <h5><li>Each club can put items for reoccurring events in a clear plastic tote into one of our storage spaces. The boxes must be clear with a lid and be labeled on all sides.</li></h5>
                </ul>
              </p-tabPanel>

              <p-tabPanel header="Event Planning">
                <h2 class="blueHeaders">Do's</h2>
                <h5><li>Check 25Live before reserving a room to make sure the space is available</li></h5>
                <h5><li>Make your own room reservations through 25Live</li></h5>
                <h5><li>Create an estimated budget for an event or trip</li></h5>
                <h5><li>Contact the Office of Student Involvement to prepare contracts</li></h5>
                <h5><li>Leave at least 3 weeks for ticket sales before departure date (request at <a href="https://snhutickets.universitytickets.com/w/" target="_blank">SNHUTickets</a>)</li></h5>
                <h5><li>Meet with the staff of the Office of Student Involvement to prepare for all off campus trips & conferences</li></h5>
                <h5><li>Advertise for your event at least 2 weeks in advance (earlier for ticketed events!)</li></h5>
                <h5><li>Submit a Budget Disbursement form for cash advances or checks at least one week before your event or trip</li></h5>
                <h5><li>Make sure you have volunteers to help at the actual event</li></h5>
                <h5><li>Consult your advisor for all event planning needs and preparations</li></h5>
                <h5><li>Make sure you contact the Office of Student Involvement to set up meetings; don’t assume they can meet with you if you stop by</li></h5>
                <h5><li>Clean up after an event</li></h5>
                <h2 class="blueHeaders">Dont's</h2>
                <h5><li>Don’t sign your own contracts. The Director of Student Involvement is the only person who has authority to do so.</li></h5>
                <h5><li>Don’t allow performers to drink alcohol before or after a performance. It is against NH Liquor Law. Once they are loaded out, they are allowed to have a drink at the Last Chapter Pub</li></h5>
                <h5><li>Don’t wait until the last minute! Requests will not be taken, as well as checks will not be cut, which means your event may not happen!</li></h5>
                <h5><li>Don’t drink alcohol at an event if you are the event planner or make sure someone is not drinking from your organization to be the point person and assist in troubleshooting.</li></h5>
                <h5><li>Don’t forget to return all petty cash & hand in all itemized receipts within five days of your event</li></h5>
                <h5><li>Don’t forget that the Office of Student Involvement is here to help you!</li></h5>
              </p-tabPanel>

              <p-tabPanel header="Program Planning Checklist">
                <h2 class="blueHeaders">Program Planning Considerations</h2>
                <h5>Programs can range from social to educational, for a cause or simply for fun. When planning a program, there are many factors to consider.</h5>
                <h5><li><b>Who is involved with the Program?- </b> Who will be involved with planning and implementing the program (your entire club, RA’s, e-board, office or department, etc)? Are committees appropriate and who will be on them? Who needs to approve the program?</li></h5>
                <h5><li><b>What -- Description of the Program- </b>What will the program accomplish? Is it necessary? What is your target population (immediate community, local community, city, etc)? How many people do you estimate attending?</li></h5>
                <h5><li><b>What are the costs involved with the Program?- </b>Consider food, supplies, advertising, tickets, prizes, transportation off campus, etc. Should the program be co-sponsored with another group?</li></h5>
                <h5><li><b>When will the Program happen?- </b>Does the date conflict with major exams, holidays or other important events around campus?</li></h5>
                <h5><li><b>Where will the Program be held?- </b>Locations include spaces in and around the Student Center and the Green Center, the Green Space, academic buildings, and other spaces on- campus, in addition to off campus sites.</li></h5>
                <h5><li><b>How will people know about the Program?- </b>What needs to be done to advertise the program- posters, e-mail, and personal contact? When does the advertising need to go out? Who will be in charge of coordinating ads?</li></h5>
                <h5><li><b>Why?- </b>Why are we doing this? How does this program support the vision and scope of our group?</li></h5>
                <h5><li><b>Have you considered the following?- </b>Gender-neutral language; religious background, rituals, and traditions; diverse racial and/or ethnic populations; needs of students with disabilities; economic limitations?</li></h5>
                <h2 class="blueHeaders">Event Planning Checklist</h2>
                <h5>After deciding as an organization which event you will sponsor, follow these steps to ensure success:</h5>
                <h5>*For all off-campus trips, please refer to the Trip Planning Packet</h5>
                <h3 class="blueHeaders">Two-Three Months in Advance</h3>
                <h5><li>Reserve the location</li></h5>
                <h5><li>Establish a budget for the event</li></h5>
                <h5><li>Identify any possible co-sponsorships</li></h5>
                <h5><li>Decide upon the need for tickets</li></h5>
                <h5><li>Contact agent/performers to get necessary information</li></h5>
                <h5><li>Forward contracts to the Office of Student Involvement (*Remember neither you, nor your advisor, can sign any contracts on behalf of the University)</li></h5>
                <h5><li>Reserve any hotel accommodations needed for performer</li></h5>
                <h5><li>Plan for performers meals if required</li></h5>
                <h5><li>Order supplies: decorations, tickets, awards, t-shirts, etc.</li></h5>
                <h3 class="blueHeaders">One Month in Advance</h3>
                <h5><li>Start promotions for the event</li></h5>
                <h5><li>Confirm housing and meals</li></h5>
                <h5><li>Review the technical rider, if applicable</li></h5>
                <h5><li>Order food for event</li></h5>
                <h5><li>If needed, submit SNHUtickets request</li></h5>
                <h3 class="blueHeaders">Three Weeks in Advance</h3>
                <h5><li>Distribute promotional material and start ticketing sales</li></h5>
                <h3 class="blueHeaders">Two Weeks-One Week Before</h3>
                <h5><li>More Promotion</li></h5>
                <h5><li>Finalize all details with agent/performer</li></h5>
                <h3 class="blueHeaders">Day of Event</h3>
                <h5><li>Arrive early to assist with set-up</li></h5>
                <h5><li>Pay performer at end of performance</li></h5>
                <h5><li>Clean-up following the performance</li></h5>
                <h5><li>Inventory all equipment</li></h5>
                <h3 class="blueHeaders">Post Event</h3>
                <h5><li>Remove all advertising</li></h5>
                <h5><li>Fill out all budget disbursements</li></h5>
                <h5><li>Take notes for future events</li></h5>
                <h5><li>Send thank-you cards as needed.</li></h5>
                <h5 class="blueHeaders">If at any point during the event planning process you have any questions, please do not hesitate to reach out to your advisor or the Office of Student Involvement. We are all here to support you!</h5>
              </p-tabPanel>

              <p-tabPanel header="Pre-Trip Meeting Agenda">
                <h2 class="blueHeaders">Pre-Trip Meeting Agenda Guide</h2>
                <h5>When you are chaperoning a trip, there are some key areas that you need to address with all attendees prior to departing for your trip. These meetings are required for all trips that are overnight and/or have inherent risk.</h5>
                <h3 class="blueHeaders">Planning the meeting</h3>
                <h5><li>All attendees should meet in person – plan it during a free block (Tuesday 3:30-4:30pm or Wednesday 2:00-3:30pm) or send out a Doodle or When2Meet poll. If one or two people cannot attend, find a time to meet with them separately.</li></h5>
                <h5><li>Develop your agenda – here are some recommended topics</li></h5>
                <ul>
                  <h5><li>Details of the trip</li></h5>
                  <h5><li>Conference Specific Information</li></h5>
                  <h5><li>Waivers/ground rules</li></h5>
                  <h5><li>Cash advances</li></h5>
                  <h5><li>What to pack</li></h5>
                  <h5><li>Communication</li></h5>
                </ul>
                <h3 class="blueHeaders">Breaking it Down</h3>
                <ol>
                  <h5><li>Details of the Trip</li></h5>
                  <ul>
                    <h5><li>With the help of your student Trip Coordinator, develop a one-sheet overview of major details for the trip. This is great for students to take a photo of for reference or to share with their parents/guardians. This should include:</li></h5>
                    <ul>
                      <h5><li>Flight info/departure information: where to meet and when, flight number (if applicable)</li></h5>
                      <h5><li>Hotel information/accommodations</li></h5>
                      <h5><li>Return information</li></h5>
                    </ul>
                    <h5><li>This is a great time to talk about what they need in terms of ID</li></h5>
                  </ul>
                  <h5><li>Conference Specific Information</li></h5>
                  <ul>
                    <h5><li>Most conference websites have printable rough schedules and/or information about an app that can be used for determining breakout sessions</li></h5>
                    <h5><li>Talk about appropriate behavior at the conference</li></h5>
                    <h5><li>If you are going to a conference where specific terminology is used, it may be helpful to develop a mini glossary or reference guide (many of our students have never attended a conference before)</li></h5>
                    <h5><li>Does the conference provide an FAQ?</li></h5>
                  </ul>
                  <h5><li>Waiver/Ground Rules</li></h5>
                  <ul>
                    <h5><li>All students sign this <a href="http://bit.ly/tripwaiver" target="_blank">waiver</a></li></h5>
                    <h5><li>Good to go over expectations. You determine these, but here are some suggestions:</li></h5>
                    <ul>
                      <h5><li>No drinking/smoking, etc.</li></h5>
                      <h5><li>Stay with the group at all times</li></h5>
                      <h5><li>Don’t go to the same sessions as others –try and spread out</li></h5>
                      <h5><li>No leaving the hotel after dark</li></h5>
                    </ul>
                  </ul>
                  <h5><li>Money</li></h5>
                  <ul>
                    <h5><li>Hotel</li></h5>
                    <ul>
                      <h5><li>Though SGA will pay for hotels if they have been approved for that spending through the Conference Allocation Process, each room will be required to put down a credit card for incidentals. Sometimes a hotel will put a small hold on a card, so it is not recommended to use a Debit Card. It is best to determine whose cards will be used prior to departing.</li></h5>
                    </ul>
                    <h5><li>Cash Advances</li></h5>
                    <ul>
                      <h5><li>If SGA is funding the conference and funds have been allocated for food expenses, you will be receiving a cash advance. A cash advance is a check made out to you individually that you can cash and use for food on the trip. You will pick this up from the Office of Student Involvement
                        prior to your trip and it is recommended that you cash it or deposit it into your account for use. The breakdown of the allocation is likely $10 for breakfast, $15 for lunch and $25 for dinner (any meals covered by registration fees would not be included in your allocation)</li></h5>
                      <h5><li>You can spend more than the amount given, but you will be responsible for the difference.</li></h5>
                      <h5><li>You can spend more or less the amount provided on each meal –for example, breakfast may be less than $10, but dinner could be more than $25. Keeping your total allocation in mind, you can flex the per meal amount spent.</li></h5>
                      <h5><li>Receipts: When you receive your check for your cash advance, you will also be given an envelope. On the envelope, you will record each transaction and include your itemized receipt in the envelope. All cash advance envelopes are to be returned within 5 business days from the return
                        date. If you do not spend all of the money, include the change that you have. If you spend the entire amount, you would just need to include the receipts.</li></h5>
                      <h5><li>Be sure to get a receipt for each and every purchase. Purchases without a receipt will not be covered (vending machines, for example, typically do not provide receipts so proof of purchase cannot be provided.)</li></h5>
                      <h5><li>If SGA funds are spent, and a receipt is missing, you will be held responsible for any un-reconciled expenses. In addition, failure to return this envelope with all receipts and remaining money may cause your club budget to be frozen</li></h5>
                    </ul>
                    <h5><li>Spending Money</li></h5>
                    <ul>
                      <h5><li>Should they bring extra spending money? Are you going to any museums, malls or other landmarks during your trip?</li></h5>
                      <h5><li>Airport snacks! And other incidentals.</li></h5>
                    </ul>
                  </ul>
                  <h5><li>What to pack</li></h5>
                  <ul>
                    <h5><li>Is this conference business, business casual, casual? Talk about what that means as well. Many students may be unfamiliar or nervous</li></h5>
                    <h5><li>Is there an awards banquet, ceremony or other event that requires more formal or dressy attire?</li></h5>
                    <h5><li>Will there be free time? Should they pack more casual clothes?</li></h5>
                    <h5><li>Weather!</li></h5>
                    <h5><li>Travel attire expectations</li></h5>
                    <h5><li>Any conference related materials – should they bring a padfolio, tote, laptop, resumes, etc.?</li></h5>
                  </ul>
                  <h5><li>Communication</li></h5>
                  <ul>
                    <h5><li>Set up a way to communicate while on the trip: group text or (if you don’t want to share your cell phone number with all of them) set up a GroupMe, Telegram or Facebook Messaging group</li></h5>
                    <h5><li>Expectations around communication – must respond to texts within a certain amount of time, leaving message notifications on etc.</li></h5>
                    <h5><li>You will be given a list of all of their phone numbers and emergency contact – please do not call their emergency contact. In case of emergency, follow the <a href="https://drive.google.com/file/d/1_h4JxQRQwUr2MfOorJX2hfkSM-XMkUIa/view" target="_blank">Emergency Procedures</a> and call Public Safety.</li></h5>
                  </ul>
                </ol>
              </p-tabPanel>

              
            </p-tabView>
          </div>
        </div>
      </div>
    <div [ngClass]="{'quickLinksDiv' : responsiveService.deviceDesktop(), 'quickLinksDivMobileTablet' : responsiveService.deviceTablet() || responsiveService.deviceMobile()}">
      <h1 class="blueHeaders text-center">SNHU Quick Links</h1>
      <hr>
      <h4 class="quickLinkPage">
        <a href="https://mysnhu.force.com/mysnhu/s/student-involvement" target="_blank">Student Involvement</a>
      </h4>
      <hr>
      <h4 class="quickLinkPage">
        <a href="https://mysnhu.force.com/mysnhu/s/getting-involved" target="_blank">Getting Involved</a>
      </h4>
      <hr>
      <h4 class="quickLinkPage">
        <a href="https://mysnhu.force.com/mysnhu/s/diversity-equity-and-inclusion" target="_blank">Diversity, Equity & Inclusion</a>
      </h4>
      <hr>
      <h4 class="quickLinkPage">
        <a href="https://mysnhu.force.com/mysnhu/s/athletics" target="_blank">Athletics</a>
      </h4>
      <hr>
      <h4 class="quickLinkPage">
        <a href="https://mysnhu.force.com/mysnhu/s/campus-life" target="_blank">Campus Life</a>
      </h4>
      <hr>
      <h4 class="quickLinkPage">
        <a href="https://www.snhusga.org/budgetfinance" target="_blank">SGA Budget & Finance Info</a>
      </h4>
      <hr>
      <h4 class="quickLinkPage">
        <a href="https://www.snhu.edu/student-experience/campus-experience/student-organizations-and-leadership" target="_blank">Student Organizations and Leadership</a>
      </h4>
      <hr>
      <h4 class="quickLinkPage">
        <a href="https://25live.collegenet.com/pro/snhu#!/home/dash" target="_blank">25Live</a>
      </h4>
      <hr>
      <h4 class="quickLinkPage">
        <a href="https://snhu.qualtrics.com/jfe/form/SV_9Fi19Ax6TmZXURn" target="_blank">Request Penmen Pride for your Event</a>
      </h4>
    </div>
    </div>
</div>
