<div class="blueTitleBar">
  <div class="logoAndName text-center">
    <img class="SNHULogoMoreInfoPage moreInfoPageTitleMargin" src="assets/SNHU-Logo-White.png" alt="Southern New Hampshire University logo with white text">
    <h1 class="yellow-text moreInfoPageTitleMargin">Getting Involved on Campus</h1>
  </div>
</div>

<div>
  <div class="moreInfoGrid" [ngClass]="{'specificClubContainerColumnsWeb' : responsiveService.deviceDesktop(), 'specificClubContainerColumnsMobileTablet' : responsiveService.deviceMobile() || responsiveService.deviceTablet()}">
      <div class="importantFormsDiv">
        <h1 class="blueHeaders">Important Forms</h1>
      </div>
      <div class="centerInfoDiv">
        <h3>
          At Southern New Hampshire University, your time is about more than just earning a degree. The Office of Student Involvement provides you with opportunities for involvement and peer collaboration. From clubs to leadership organizations and honor societies, there are many ways to get involved, network, attend events and explore learning communities.
        </h3>
      </div>
    <div class="quickLinksDiv">
      <h1 class="blueHeaders">SNHU Quick Links</h1>
    </div>
    </div>
</div>
