@import "src/styles";

.SNHULogoMoreInfoPage {
  width: 300px;
  height: auto;
}

.moreInfoPageTitleMargin {
  margin-bottom: 20px;
}

.logoAndName {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: $GoldenYellow;
}
