<div class="blueTitleBar">
  <div class="logoAndName text-center">
    <img class="SNHULogoMoreInfoPage moreInfoPageTitleMargin" src="assets/SNHU-Logo-White.png" alt="Southern New Hampshire University Logo">
    <h1 class="yellow-text moreInfoPageTitleMargin">Getting Involved on Campus</h1>
  </div>
</div>

<ng-container *ngIf="responsiveService.deviceDesktop() || responsiveService.deviceTablet(); else MobileView">
  <div class="moreInfoGrid moreInfoParentGridWeb">
    <div class="importantFormsWeb">
      <h1 class="blueHeaders text-center">Important Forms</h1>
      <hr>
      <h4 class="text-center"><a href="/assets/pdfs/2022%20Student%20Involvement%20Handbook.pdf" download="2022 Student Involvement Handbook">2022 Student Involvement Handbook</a></h4>
      <hr>
      <h4 class="text-center"><a href="/assets/pdfs/2022-23%20SGA%20Constitution.pdf" download="2022-23 SGA Constitution">2022-23 SGA Constitution</a></h4>
      <hr>
      <h4 class="text-center"><a href="/assets/pdfs/New%20Fillable%20Budget%20Disbursement%20Form%20(Revised).pdf" download="New Budget Disbursement Form">New Budget Disbursement Form</a></h4>
      <hr>
      <h4 class="text-center"><a href="/assets/pdfs/Last%20Chapter%20Pub%20Policies.pdf" download="Last Chapter Pub Policies">Last Chapter Pub Policies</a></h4>
      <hr>
      <h4 class="text-center"><a href="/assets/pdfs/Prize%20Sheet.xlsx" download="Prize Sheet">Prize Sheet</a></h4>
      <hr>
      <h4 class="text-center"><a href="/assets/pdfs/Fundraising%20Registration%20Form.pdf" download="Fundraising Registration Form">Fundraising Registration Form</a></h4>
    </div>

    <div class="welcomeMessageWeb">
      <h4 class="text-center">
        At Southern New Hampshire University, your time is about more than just earning a degree. The Office of Student Involvement provides you with opportunities for involvement and peer collaboration. From clubs to leadership organizations and honor societies, there are many ways to get involved, network, attend events and explore learning communities.
      </h4>
    </div>

    <div class="studentCenterCardWeb">
      <h3 class="blueHeaders">Student Center</h3>
      <h5>Email: connect@snhu.edu</h5>
      <h5>Phone: 603.931.3559</h5>
      <h5>Hours: Monday - Friday, 6:30 am - 12:00 am (ET)</h5>
    </div>

    <div class="osiCardWeb">
      <h3 class="blueHeaders">Office of Student Involvement</h3>
      <h5>Location: Student Center</h5>
      <h5>Email: involvement@snhu.edu</h5>
      <h5>Phone: 603.629.4631</h5>
      <h5>Hours: Monday - Friday, 8:00 am - 6:00 pm (ET)</h5>
    </div>

    <div class="tabViewWeb">
      <p-tabView [scrollable]="true" styleClass="moreInfoTabs">
        <p-tabPanel header="Intro to Clubs and Orgs">
          <app-intro-clubs-orgs></app-intro-clubs-orgs>
        </p-tabPanel>

        <p-tabPanel header="OSI Staff">
          <app-osi-staff></app-osi-staff>
        </p-tabPanel>

        <p-tabPanel header="Student Center Services">
          <app-student-center-services></app-student-center-services>
        </p-tabPanel>

        <p-tabPanel header="Event Planning">
          <app-event-planning></app-event-planning>
        </p-tabPanel>

        <p-tabPanel header="Program Planning Checklist">
          <app-program-planning-checklist></app-program-planning-checklist>
        </p-tabPanel>

        <p-tabPanel header="Pre-Trip Meeting Agenda">
          <app-pre-trip-agenda></app-pre-trip-agenda>
        </p-tabPanel>

        <p-tabPanel header="Trip Planning Guide">
          <app-trip-planning-guide></app-trip-planning-guide>
        </p-tabPanel>

      </p-tabView>
    </div>

    <div class="quickLinksWeb">
      <h1 class="blueHeaders text-center">SNHU Quick Links</h1>
      <hr>
      <h4 class="quickLinkPage">
        <a href="https://mysnhu.force.com/mysnhu/s/student-involvement" target="_blank">Student Involvement</a>
      </h4>
      <hr>
      <h4 class="quickLinkPage">
        <a href="https://mysnhu.force.com/mysnhu/s/getting-involved" target="_blank">Getting Involved</a>
      </h4>
      <hr>
      <h4 class="quickLinkPage">
        <a href="https://mysnhu.force.com/mysnhu/s/diversity-equity-and-inclusion" target="_blank">Diversity, Equity & Inclusion</a>
      </h4>
      <hr>
      <h4 class="quickLinkPage">
        <a href="https://mysnhu.force.com/mysnhu/s/athletics" target="_blank">Athletics</a>
      </h4>
      <hr>
      <h4 class="quickLinkPage">
        <a href="https://mysnhu.force.com/mysnhu/s/campus-life" target="_blank">Campus Life</a>
      </h4>
      <hr>
      <h4 class="quickLinkPage">
        <a href="https://www.snhusga.org/budgetfinance" target="_blank">SGA Budget & Finance Info</a>
      </h4>
      <hr>
      <h4 class="quickLinkPage">
        <a href="https://www.snhu.edu/student-experience/campus-experience/student-organizations-and-leadership" target="_blank">Student Organizations and Leadership</a>
      </h4>
      <hr>
      <h4 class="quickLinkPage">
        <a href="https://25live.collegenet.com/pro/snhu#!/home/dash" target="_blank">25Live</a>
      </h4>
      <hr>
      <h4 class="quickLinkPage">
        <a href="https://snhu.qualtrics.com/jfe/form/SV_9Fi19Ax6TmZXURn" target="_blank">Request Penmen Pride for your Event</a>
      </h4>
    </div>
  </div>
</ng-container>

<ng-template #MobileView>
  <div class="mobileTabletWelcomeText">
    <h4 class="text-center">
      At Southern New Hampshire University, your time is about more than just earning a degree. The Office of Student Involvement provides you with opportunities for involvement and peer collaboration. From clubs to leadership organizations and honor societies, there are many ways to get involved, network, attend events and explore learning communities.
    </h4>
  </div>

  <div class="mobileTabletStudentCenterCard">
    <h2 class="blueHeaders">Student Center</h2>
    <h5>Email: connect@snhu.edu</h5>
    <h5>Phone: 603.931.3559</h5>
    <h5>Hours: Monday - Friday, 8:00 am - 4:30 pm (ET)</h5>
  </div>

  <div class="mobileTabletOSICard">
    <h2 class="blueHeaders">Office of Student Involvement</h2>
    <h5>Location: Student Center</h5>
    <h5>Email: involvement@snhu.edu</h5>
    <h5>Phone: 603.629.4631</h5>
    <h5>Hours: Monday - Friday, 8:00 am - 6:00 pm (ET)</h5>
  </div>

  <div class="mobileTabletTabView">
    <p-tabView [scrollable]="true" styleClass="moreInfoTabs">
      <p-tabPanel header="Intro to Clubs and Orgs">
        <app-intro-clubs-orgs></app-intro-clubs-orgs>
      </p-tabPanel>

      <p-tabPanel header="OSI Staff">
        <app-osi-staff></app-osi-staff>
      </p-tabPanel>

      <p-tabPanel header="Student Center Services">
        <app-student-center-services></app-student-center-services>
      </p-tabPanel>

      <p-tabPanel header="Event Planning">
        <app-event-planning></app-event-planning>
      </p-tabPanel>

      <p-tabPanel header="Program Planning Checklist">
        <app-program-planning-checklist></app-program-planning-checklist>
      </p-tabPanel>

      <p-tabPanel header="Pre-Trip Meeting Agenda">
        <app-pre-trip-agenda></app-pre-trip-agenda>
      </p-tabPanel>

      <p-tabPanel header="Trip Planning Guide">
        <app-trip-planning-guide></app-trip-planning-guide>
      </p-tabPanel>

    </p-tabView>
  </div>

  <div class="mobileTabletQuickLinks">
    <h1 class="blueHeaders text-center">SNHU Quick Links</h1>
    <hr>
    <h4 class="quickLinkPage">
      <a href="https://mysnhu.force.com/mysnhu/s/student-involvement" target="_blank">Student Involvement</a>
    </h4>
    <hr>
    <h4 class="quickLinkPage">
      <a href="https://mysnhu.force.com/mysnhu/s/getting-involved" target="_blank">Getting Involved</a>
    </h4>
    <hr>
    <h4 class="quickLinkPage">
      <a href="https://mysnhu.force.com/mysnhu/s/diversity-equity-and-inclusion" target="_blank">Diversity, Equity & Inclusion</a>
    </h4>
    <hr>
    <h4 class="quickLinkPage">
      <a href="https://mysnhu.force.com/mysnhu/s/athletics" target="_blank">Athletics</a>
    </h4>
    <hr>
    <h4 class="quickLinkPage">
      <a href="https://mysnhu.force.com/mysnhu/s/campus-life" target="_blank">Campus Life</a>
    </h4>
    <hr>
    <h4 class="quickLinkPage">
      <a href="https://www.snhusga.org/budgetfinance" target="_blank">SGA Budget & Finance Info</a>
    </h4>
    <hr>
    <h4 class="quickLinkPage">
      <a href="https://www.snhu.edu/student-experience/campus-experience/student-organizations-and-leadership" target="_blank">Student Organizations and Leadership</a>
    </h4>
    <hr>
    <h4 class="quickLinkPage">
      <a href="https://25live.collegenet.com/pro/snhu#!/home/dash" target="_blank">25Live</a>
    </h4>
    <hr>
    <h4 class="quickLinkPage">
      <a href="https://snhu.qualtrics.com/jfe/form/SV_9Fi19Ax6TmZXURn" target="_blank">Request Penmen Pride for your Event</a>
    </h4>
  </div>

  <div class="mobileTabletImportantForms">
    <h1 class="blueHeaders text-center">Important Forms</h1>
    <hr>
    <h4 class="text-center"><a href="/assets/pdfs/2022%20Student%20Involvement%20Handbook.pdf" download="2022 Student Involvement Handbook">2022 Student Involvement Handbook</a></h4>
    <hr>
    <h4 class="text-center"><a href="/assets/pdfs/2022-23%20SGA%20Constitution.pdf" download="2022-23 SGA Constitution">2022-23 SGA Constitution</a></h4>
    <hr>
    <h4 class="text-center"><a href="/assets/pdfs/New%20Fillable%20Budget%20Disbursement%20Form%20(Revised).pdf" download="New Budget Disbursement Form">New Budget Disbursement Form</a></h4>
    <hr>
    <h4 class="text-center"><a href="/assets/pdfs/Last%20Chapter%20Pub%20Policies.pdf" download="Last Chapter Pub Policies">Last Chapter Pub Policies</a></h4>
    <hr>
    <h4 class="text-center"><a href="/assets/pdfs/Prize%20Sheet.xlsx" download="Prize Sheet">Prize Sheet</a></h4>
    <hr>
    <h4 class="text-center"><a href="/assets/pdfs/Fundraising%20Registration%20Form.pdf" download="Fundraising Registration Form">Fundraising Registration Form</a></h4>
  </div>
</ng-template>
